/* TOPO */
.empreendimentos .editardados {cursor: pointer; }
.empreendimentos .logout:hover li , .empreendimentos .editardados:hover li { background: none !important; color: #fc6e2a !important; }

/* SIDEBAR */
.empreendimentos .listauser { padding: 0; }
.empreendimentos .userinfo { list-style: none; padding: 10px 0 0; font-weight: bold; color: #fc6e2a; font-family: 'Open Sans',sans-serif;}
.empreendimentos .userinfo i { margin-right: 10px; }
.empreendimentos .userinfo--sub { font-weight: normal; border-bottom: 1px solid #ccc; color: #959595; margin-top: 3px; font-size: 14px; padding: 5px 0;}

/* LINKS */
/* .nav.nav-pills .btn {padding: 5px 10px !important;background: #ececec!important;color: #636466;margin-right: 5px;margin-bottom: 10px;font-size: 13px;}
.nav.nav-pills .btn:hover, .nav.nav-pills .btn:focus, .nav.nav-pills .btn:active {background: #fc6e2a;color: #fff;}
.nav.nav-pills .disabled {cursor: not-allowed;}
.nav.nav-pills .btn i {} */

/* TABS */
.contrato-content h5 > b {color: #636466;}
.contrato-content .panel-heading {padding: 0 !important;}
.contrato-content .panel-heading a {color: #fff;display: block;text-decoration: none;padding: 10px 15px 10px 38px;background: url('../images/sprite-panel.png') no-repeat 8px 11px #636466;}
.contrato-content .panel-heading.on a {background-color: #fc6e2a;background-position: 8px -28px;}
.contrato-content .panel-collapse .panel-body {font-family: 'Open Sans',sans-serif;font-size: 13px;}

/* FORM */
.contrato-content .form-horizontal .control-label {font-size: 12px;}
.contrato-content div.wpcf7-response-output {margin: 2em 0.5em 1em;padding: 10px;text-align: center;font-size: 14px;}
.contrato-content span.wpcf7-not-valid-tip {font-size: 11px !important;padding: 2px;}
.contrato-content .wpcf7-form-control-wrap.mensagem {display: block;width: 100%;}
.contrato-content .wpcf7-textarea {display: block;width: 100%;padding: 6px 12px;font-size: 16px;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;-webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;-moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;-o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;}

/* STATUS */
.empreendimentos .panel-group .status-tit-pri {display: none;}

/* IMPOSTO DE RENDA */
/* #ir-menu {max-width: 140px;min-width: 80px !important;padding: 5px;padding-bottom: 0;padding-top: 0 !important;}
.ir-form-group {float: left;width: 70%;margin-bottom: 0;margin-top: 5px;}
.ir-form {float: left;height: 29px;width: 100%;padding: 6px;}
.ir-btn {float: left;width: 25%;margin: 5px 0 5px 3px !important;} */

/* MENSAGENS BOLETO e PLANILHA */
/* .contrato-content .wrap-small {float: left;width: 100%;margin-top: 10px;margin-bottom: 20px;} */
/* .contrato-content span.small {float: left;width: 100%;margin-bottom: 10px;}
.contrato-content span.small b {color: #fc6e2a;} */
.contrato-content .planilha, .contrato-content .boleto {position: relative;}
.contrato-content .planilha:after, .contrato-content .boleto:after  {content: "*";position: absolute;font-size: 10px;top: 5px;right: 5px;}
.contrato-content .boleto:after {content: "**";right: 2px;}
.contrato-content .nav.nav-pills .boleto {padding-right: 15px !important;}

/* LINK BOLETO */
.contrato-content ul#boleto {padding: 0;right: 0;left: auto;}
.contrato-content #boleto>li>a {padding: 8px;color: #333;font-size: 12px;text-align: center;}
.contrato-content #boleto>li>a:hover {color: #fc6e2a;}

/* MENU */
.menuCliente { background: #636466; padding: 15px 0; }
.menuCliente__bar { display: flex; justify-content: space-between; flex-direction: column-reverse; }
.menuCliente__option { display: flex; justify-content: flex-start; border-top: 1px solid rgba(81, 81, 81, 0.9); padding-top: 15px;  }
.menuCliente__logo {  margin-right: 15px; display: flex; align-items: center; }
.menuCliente__logo img {  width: 40px;  }
.menuCliente__option-sair { display: flex; justify-content: space-between;  margin-bottom: 15px; }
.menuCliente__opcoes-login { display: flex;  justify-content: space-between; align-items: center; width: 100%; }
.menuCliente__opcoes-login li { margin-right: 15px; }
.menuCliente__opcoes-login li:last-child { margin-right: 0; }
.menuCliente__opcoes-login li a { font-size: 14px; font-weight: 100; font-family: 'Open Sans',sans-serif; color: white; }

.menuCliente__toppattern { font-size: 14px; font-weight: 500; font-family: 'Arial', Helvetica, sans-serif; color: white;  display: flex; align-items: flex-start; flex-direction: column; justify-content: center; }
.menuCliente__toppattern span { display: block; }



/* AREA INFORMAÇÕES */
.area-informacoes { padding: 30px 0; background: white; }
.area-informacoes__dash { display: flex; justify-content: space-between; flex-direction: column; }
.area-informacoes__titlebg { font-size: 20px; font-weight: 100; font-family: 'Open Sans',sans-serif; color: #636466; text-transform: uppercase; margin-bottom: 30px; }
.area-informacoes__titleSmall { font-size: 18px; font-weight: 100; font-family: 'Open Sans', sans-serif; color: #636466; text-transform: uppercase; margin: 30px 0px; }
.area-informacoes__content { width: 100%; float: left; }
.area-informacoes__contrato-title { font-size: 20px; font-weight: 500; font-family: 'Arial', Helvetica, sans-serif; color: white; padding: 12px !important; height: 45px; border-radius: 6px; background: #808080; display: flex!important; align-items: center; }     
.area-informacoes__icone { background: url('sprite-panel.png') no-repeat 0px 0; width: 40px; height: 22px; display: inline-block; margin-right: 10px; background-size: cover; }

.area-informacoes__panel-body { display: flex; flex-direction: column; }

.area-informacoes__nav-pills { display: flex; justify-content: space-between; margin-bottom: 15px; flex-direction: column; flex-wrap: wrap; }
.area-informacoes__nav-pills li { display: flex; position: relative; margin-bottom: 7px; }

.area-informacoes__dropdown-menu { display: none; border: 1px solid #c2c2c2; position: absolute; top: 40px; left: 0; background: #ececec; max-width: 100%; width: 100%; z-index: 9; border-radius: 5px;  }

.area-informacoes__disabled,
.area-informacoes__disabled:hover { pointer-events: none; background: #ececec !important; color: #aaa !important; border: 1px solid #ececec !important;  }

.area-informacoes__btn { transition: all .2s ease-in-out; font-size: 13px; font-weight: 400; font-family: 'Arial', Helvetica, sans-serif; padding: 10px; background: #ececec; color: #636466; border-radius: 6px; width: 100%; border: 1px solid rgba(198, 198, 198, 0.9); }
.area-informacoes__btn:hover { background: #f26522; color: white; border: 1px solid #f26522; }


.area-informacoes__ir-form-action { display: flex; width: 100%; padding: 7px; }                        
.area-informacoes__ir-form-group { width: 80%; }
.area-informacoes__ir-form { border-right: 0; border-radius: 3px; border-bottom-right-radius: 0px; border-top-right-radius: 0px; border: 1px solid #ccc;width: 100%; font-size: 13px; font-weight: 300; font-family: 'Arial', Helvetica, sans-serif; padding: 5px; height: 30px; }
.area-informacoes__ir-btn { width: 30px; border: 0; background: #FF5722; color: white; border-radius: 3px; border-bottom-left-radius: 0px; border-top-left-radius: 0px; cursor: pointer; }


.area-informacoes__wrap-small { width: 100%; float: left; }
.area-informacoes__wrap-small .small { font-size: 12px; font-weight: 400; font-family: 'Arial', Helvetica, sans-serif; color: #2a2a2a; width: 100%; float: left; margin: 10px 0; }
.area-informacoes__wrap-small .small b { color: #FF5722; }

.area-informacoes__wrap-small .title-detalhes,
.area-informacoes__wrap-small .title-manual { font-size: 17px; font-weight: 600; font-family: 'Open Sans',sans-serif; color: #636466; margin: 10px 0; }


.area-informacoes__wrap-small .infos { font-family: 'Open Sans',sans-serif; font-weight: 100; color: #474747; font-size: 14px; margin-bottom: 15px; }
.area-informacoes__wrap-small .infos b { color: #636466; font-size: 14px;  }
.area-informacoes__wrap-small .infos p { margin: 5px 0 0;  }


.area-informacoes__sidebar { width: 100%; float: left; margin-top: 30px; }

.area-informacoes__btns-wrap { display: flex; justify-content: space-between; flex-direction: column; }
.area-informacoes__btns { display: flex; flex-direction: column; }

.area-informacoes__link { background: #f26522; border-radius: 5px; margin: 5px 0; padding: 8px 20px;  font-family: 'Open Sans',sans-serif;  font-weight: 400; color: white; width: 100%; display: flex; align-items: flex-start; justify-content: center;  }
.area-informacoes__link:hover { background: #f04f23; }

.area-informacoes__btns-wrap a { background: #f26522; border-radius: 5px; margin-bottom: 6px; padding: 8px 20px;  font-family: 'Open Sans',sans-serif;  font-weight: 400; color: white; width: 100%; display: flex; align-items: flex-start; justify-content: center; }
.area-informacoes__btns-wrap a:hover { background: #f04f23; }


@media only screen and ( min-width: 768px) {
    .menuCliente__bar { flex-direction: row; }
    
    .menuCliente__option { border-top: 0; padding-top: 0;  }

    .menuCliente__toppattern { font-size: 18px; }
    
    .menuCliente__option { justify-content: space-between; }
    
    .menuCliente__logo {  display: inherit; }

    .menuCliente__logo img {  width: auto;  }

    .menuCliente__opcoes-login { width: inherit; }

    .menuCliente__opcoes-login li a { font-size: 16px; }

    .menuCliente__option-sair { margin-bottom: 0; }

    .area-informacoes__dash { flex-direction: row; }

    .area-informacoes__content { width: 65%;  margin-right: 5%; }

    .area-informacoes__nav-pills { flex-direction: row; }

    .area-informacoes__btn { width: 205px;  }

    .area-informacoes__link { font-size: 14px; }

    .area-informacoes__btns-wrap { flex-direction: row; }
    
    .area-informacoes__btns-wrap a { margin-bottom: 0; max-width: 49%;  }
    
    .area-informacoes__sidebar { width: 30%; margin-top: 0; }
    
    .area-informacoes__titleSmall { font-size: 14px; margin: 15px 0; }

    .area-informacoes__dropdown-menu { max-width: 208px; }
    
}

@media only screen and ( min-width: 1024px) {
    .area-informacoes__btn { width: 188px;  }
    .area-informacoes__titleSmall { font-size: 15px; }
}

@media only screen and ( min-width: 1440px) { 
    .area-informacoes__titleSmall { font-size: 20px; }
    .area-informacoes__btn { width: 178px;  }
    .area-informacoes__nav-pills li { margin-bottom: 0; }
}



.btns-wrap--full {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.btns-wrap--full a {
    width: 100%;
}



