/* TOPO */
.empreendimentos .editardados {
  cursor: pointer;
}
.empreendimentos .logout:hover li,
.empreendimentos .editardados:hover li {
  background: none !important;
  color: #fc6e2a !important;
}

/* SIDEBAR */
.empreendimentos .listauser {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:25px;
  padding-top: 0px;
  margin-bottom: 10px;
}
.empreendimentos .userinfo {
  list-style: none;
  padding: 10px 0 0;
  font-weight: 300;
  color: #484848;
  font-family: "Open Sans", sans-serif;
}
.empreendimentos .userinfo i {
  margin-right: 10px;
}
.empreendimentos .userinfo--sub {
  font-weight: normal;
  /* border-bottom: 1px solid #ccc; */
  color: #838383;
  margin-top: 3px;
  font-size: 14px;
  padding: 5px 0;
}

@media screen and (min-width:700px){
  .empreendimentos .listauser {
    flex-direction: row;
  }
  .client-section-dowload-block{
    flex-direction: row !important;
  }
  .area-informacoes__panel-body{
    display: grid;
    grid-template-columns: 4fr 1fr !important;
    grid-template-rows: 1fr;
  }
  .area-informacoes__nav-pills{
    margin-bottom: 15px;
    flex-direction: column;
    margin-left: 50px;
    width: 400px;
  }
  .area-informacoes__btn{
    width: 300px !important;
  }
  .menuCliente-ul{
    flex-direction: row !important;
  }
  .according-assistencia-tecnica__options{
    grid-template-columns: 1fr 1fr !important;
  }

}

/* LINKS */
/* .nav.nav-pills .btn {padding: 5px 10px !important;background: #ececec!important;color: #636466;margin-right: 5px;margin-bottom: 10px;font-size: 13px;}
.nav.nav-pills .btn:hover, .nav.nav-pills .btn:focus, .nav.nav-pills .btn:active {background: #fc6e2a;color: #fff;}
.nav.nav-pills .disabled {cursor: not-allowed;}
.nav.nav-pills .btn i {} */

/* TABS */
.contrato-content h5 > b {
  color: #636466;
}
.contrato-content .panel-heading {
  padding: 0 !important;
}
.contrato-content .panel-heading a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 10px 15px 10px 38px;
  background: url("../images/sprite-panel.png") no-repeat 8px 11px #636466;
}
.contrato-content .panel-heading.on a {
  background-color: #fc6e2a;
  background-position: 8px -28px;
}
.contrato-content .panel-collapse .panel-body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}

/* FORM */
.contrato-content .form-horizontal .control-label {
  font-size: 12px;
}
.contrato-content div.wpcf7-response-output {
  margin: 2em 0.5em 1em;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
.contrato-content span.wpcf7-not-valid-tip {
  font-size: 11px !important;
  padding: 2px;
}
.contrato-content .wpcf7-form-control-wrap.mensagem {
  display: block;
  width: 100%;
}
.contrato-content .wpcf7-textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: all border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s ease-out;
  -moz-transition: all border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s ease-out;
  -o-transition: all border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s ease-out;
  transition: all border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s ease-out;
}

/* STATUS */
.empreendimentos .panel-group .status-tit-pri {
  display: none;
}

/* IMPOSTO DE RENDA */
/* #ir-menu {max-width: 140px;min-width: 80px !important;padding: 5px;padding-bottom: 0;padding-top: 0 !important;}
.ir-form-group {float: left;width: 70%;margin-bottom: 0;margin-top: 5px;}
.ir-form {float: left;height: 29px;width: 100%;padding: 6px;}
.ir-btn {float: left;width: 25%;margin: 5px 0 5px 3px !important;} */

/* MENSAGENS BOLETO e PLANILHA */
/* .contrato-content .wrap-small {float: left;width: 100%;margin-top: 10px;margin-bottom: 20px;} */
/* .contrato-content span.small {float: left;width: 100%;margin-bottom: 10px;}
.contrato-content span.small b {color: #fc6e2a;} */
.contrato-content .planilha,
.contrato-content .boleto {
  position: relative;
}
.contrato-content .planilha:after,
.contrato-content .boleto:after {
  content: "*";
  position: absolute;
  font-size: 10px;
  top: 5px;
  right: 5px;
}
.contrato-content .boleto:after {
  content: "**";
  right: 2px;
}
.contrato-content .nav.nav-pills .boleto {
  padding-right: 15px !important;
}

/* LINK BOLETO */
.contrato-content ul#boleto {
  padding: 0;
  right: 0;
  left: auto;
}
.contrato-content #boleto > li > a {
  padding: 8px;
  color: #333;
  font-size: 12px;
  text-align: center;
}
.contrato-content #boleto > li > a:hover {
  color: #fc6e2a;
}

/* MENU */
.menuCliente {
  background: #efefef;
  padding: 20px;
  border-bottom: 1px solid #d2d0d0;
}
.menuCliente__bar {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
}
.menuCliente__option {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid rgba(81, 81, 81, 0.9);
  padding-top: 15px;
}
.menuCliente__logo {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.menuCliente__logo img {
  width: 40px;
}
.menuCliente__option-sair {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.menuCliente__opcoes-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 7px;
}
.menuCliente__opcoes-login li {
  margin-right: 15px;
}
.menuCliente__opcoes-login li:last-child {
  margin-right: 0;
}
.menuCliente__opcoes-login li a {
  font-size: 14px;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  color: #4f4f4f;
}

.menuCliente__toppattern {
  font-size: 14px;
  font-weight: 500;
  font-family: "Arial", Helvetica, sans-serif;
  color: #4f4f4f;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.menuCliente__toppattern span {
  display: block;
}

.menuCliente__whatsapp {
  display: flex;
}
.menuCliente__link {
  display: flex;
  align-items: center;
}
.menuCliente__link .icone {
  font-size: 25px;
  color: white;
  background: #55cd6c;
  padding: 10px 12px;
  border-radius: 30px;
}
.menuCliente__link .icone:hover {
  background: #49c561;
}
.menuCliente__title {
  color: white;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
.menuCliente__title:hover {
  text-decoration: underline;
}

/* AREA INFORMAÇÕES */
.area-informacoes {
  padding: 30px 0;
  background: #efefef;
}
.area-informacoes__dash {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.area-informacoes__titlebg {
  font-size: 20px;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  color: #e76530;
  text-transform: uppercase;
  margin-bottom: 50px;
  border-bottom: 1px solid #ececec;
  padding: 25px;
}
.area-informacoes__titleSmall {
  font-size: 18px;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  color: #636466;
  text-transform: uppercase;
  margin: 30px 0px;
}
.area-informacoes__content {
  width: 100%;
  float: left;
  display: flex;
  flex-direction: column;
}
.area-informacoes__contrato-title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 20px !important;
  height: 45px;
  border-radius: 1px;
  background: #fff;
  display: flex !important;
  align-items: center;
  color:#e76530;
  padding:25px !important;
  border-bottom: 1px solid #ececec;
  border-left: 2px solid #e76530;
}
.area-informacoes__icone {
  background: url("sprite-panel.png") no-repeat 0px 0;
  width: 40px;
  height: 22px;
  display: inline-block;
  margin-right: 10px;
  background-size: cover;
}

.area-informacoes__panel-body {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: auto;
  padding:20px;
}

.area-informacoes__nav-pills {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.area-informacoes__nav-pills li {
  display: flex;
  position: relative;
  margin-bottom: 7px;
  width: 100%;
}
.area-informacoes__nav-pills li .dropdown-menu {
  border: 1px solid #c2c2c2;
  position: absolute;
  top: 40px;
  left: 0;
  background: #ececec;
  max-width: 100%;
  width: 100%;
  z-index: 9;
  border-radius: 5px;
  padding: 5px;
}
.area-informacoes__nav-pills li .dropdown-menu li a {
  color: #656565;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 13px;
}

.area-informacoes__dropdown-menu {
  display: none;
  border: 1px solid #c2c2c2;
  position: absolute;
  top: 40px;
  left: 0;
  background: #ececec;
  max-width: 100%;
  width: 100%;
  z-index: 9;
  border-radius: 5px;
}

.area-informacoes__disabled,
.area-informacoes__disabled:hover {
  pointer-events: none;
  background: #ececec !important;
  color: #aaa !important;
  border: 1px solid #ececec !important;
}

.area-informacoes__btn {
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  font-weight: 400;
  font-family: "Arial", Helvetica, sans-serif;
  padding: 10px;
  background: none;
  color: #636466;
  border: 1px solid #f26522;
  border-radius: 20px;
  padding-left:20px;
  padding-right:20px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.area-informacoes__btn:hover {
  background: #f26522;
  color: white;
  border: 1px solid #f26522;
}

.area-informacoes__ir-form-action {
  display: flex;
  width: 100%;
  padding: 7px;
}
.area-informacoes__ir-form-group {
  width: 80%;
}
.area-informacoes__ir-form {
  border-right: 0;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 13px;
  font-weight: 300;
  font-family: "Arial", Helvetica, sans-serif;
  padding: 5px;
  height: 30px;
}
.area-informacoes__ir-btn {
  width: 30px;
  border: 0;
  background: #ff5722;
  color: white;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  cursor: pointer;
}

.area-informacoes__wrap-small {
  width: 100%;
  float: left;
}
.area-informacoes__wrap-small .small {
  font-size: 12px;
  font-weight: 400;
  font-family: "Arial", Helvetica, sans-serif;
  color: #636466;
  width: 100%;
  float: left;
  margin: 10px 0;
}
.area-informacoes__wrap-small .small b {
  color: #636466;
}

.area-informacoes__wrap-small .title-detalhes,
.area-informacoes__wrap-small .title-manual {
  font-size: 17px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #909193;
  margin: 10px 0;
}

.area-informacoes__wrap-small .infos {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: #909193;
  font-size: 14px;
  margin-bottom: 15px;
}
.area-informacoes__wrap-small .infos b {
  color: #909193;
  font-size: 14px;
}
.area-informacoes__wrap-small .infos p {
  margin: 5px 0 0;
}

.area-informacoes__sidebar {
  width: 100%;
  float: left;
  margin-top: 30px;
  border-radius: 3px;
  background-color: #fff;
}

.area-informacoes__btns-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.area-informacoes__btns {
  display: flex;
  flex-direction: column;
}

.area-informacoes__link {
  background: #f26522;
  border-radius: 5px;
  margin: 5px 0;
  padding: 8px 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.area-informacoes__link:hover {
  background: #f04f23;
}

.area-informacoes__btns-wrap a {
  background: #f26522;
  border-radius: 5px;
  margin-bottom: 6px;
  padding: 8px 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.area-informacoes__btns-wrap a:hover {
  background: #f04f23;
}

@media only screen and (min-width: 768px) {
  .menuCliente__bar {
    flex-direction: row;
  }

  .menuCliente__option {
    border-top: 0;
    padding-top: 0;
  }

  .menuCliente__toppattern {
    font-size: 18px;
  }

  .menuCliente__option {
    justify-content: space-between;
  }

  .menuCliente__logo {
    display: inherit;
  }

  .menuCliente__logo img {
    width: auto;
  }

  .menuCliente__opcoes-login {
    width: inherit;
  }

  .menuCliente__opcoes-login li a {
    font-size: 16px;
  }

  .menuCliente__option-sair {
    margin-bottom: 0;
  }

  .area-informacoes__dash {
    flex-direction: column;
  }

  .area-informacoes__content {
    width: 100%;
    margin-right: 5%;
  }

  .area-informacoes__nav-pills {
    flex-direction: column;
    width: 300 !important;
  }

  .area-informacoes__btn {
    width: auto;
  }

  .area-informacoes__link {
    font-size: 14px;
  }

  .area-informacoes__btns-wrap {
    flex-direction: row;
  }

  .area-informacoes__btns-wrap a {
    margin-bottom: 0;
    max-width: 49%;
  }

  .area-informacoes__sidebar {
    width: 100%;
    margin-top: 0;
  }

  .area-informacoes__titleSmall {
    font-size: 14px;
    margin: 15px 0;
  }

  .area-informacoes__dropdown-menu {
    max-width: 208px;
  }
}

@media only screen and (min-width: 1024px) {
  .area-informacoes__titleSmall {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1440px) {
  .area-informacoes__titleSmall {
    font-size: 20px;
  }
  .area-informacoes__nav-pills li {
    margin-bottom: 0;
  }
}

.btns-wrap--full {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.btns-wrap--full a {
  width: 100%;
}








.boleto_dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    background: #ececec;
    width: 150px;
    border-radius: 5px;
    transform: translateX(-50%);
    left: 50%;
    box-shadow: 0px 5px 6px 0px #00000026;
    overflow: hidden;
}
.boleto_dropdown li {
    padding: 5px;
    font-size: 11px;
    border-bottom: 1px solid #d0d0d0;
}

.boleto_dropdown li a {
    color: #3c3c3c;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
    width: 100%;
    font-family: sans-serif;
}

.boleto_dropdown li:nth-last-child(1) {
    border-bottom: none;
}

.boleto_dropdown li:hover {
    background-color: #c3c3c3;
}

/* css new */

.area-informacoes__line{
  border: 1px solid #e86c39;
  height: 50px;
  width: 1px;
  margin-top: 13px;
  position: absolute;
}

.client-section-dowload{
  width: 100%;
  background:#fff;
  margin-top:30px;
  margin-bottom: 30px;
}

.client-section-dowload__title{
  font-size: 20px;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  color: #e76530;
  text-transform: uppercase;
  margin-bottom: 50px;
  border-bottom: 1px solid #ececec;
  padding:25px;
}

.client-section-dowload-block{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  flex-direction: column;
  margin:20px;
  align-items: center;
  color: #838383;
}

.accordion-content{
  background:#fff;
  border:none !important;
  border-radius: 0px !important;
  padding:20px;
}

.menuCliente-options{
  flex-basis: 60%;
}

.menuCliente-ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuCliente__a{
  text-decoration: none;
  color: #4f4f4f;
}

.menuCliente__a:hover{
  color:#e76530;
}

.menuCliente__editar{
  text-decoration: none;
  color: #4f4f4f;
  margin-left: 5px;
}

.logout{
  background: #4f4f4f;
  color: #fff !important;
  border-radius: 10px;
  padding: 1px;
  width: 47px;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.according-assistencia-tecnica{
  background:#fff;
}

.according-assistencia-tecnica__title{
  color:#e76530;
  border-bottom: 1px solid #ececec;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding:19px;
}

.according-assistencia-tecnica--form{
  padding:15px;
  color: #838383;
}

.according-assistencia-tecnica__h3{
  font-size: 20px;
}

.according-assistencia-tecnica--form .wpcf7-list-item-label{
  color: #838383;
  font-size: 15px;
  margin-left: 5px;
  margin: 10px;
}
.according-assistencia-tecnica--form{
  line-height: 35px;
}
 
.according-assistencia-tecnica--form input[type=text]{
  border:none;
  border-bottom:1px solid #e3e3e3;
  width: 100%;
}

.according-assistencia-tecnica--form input[type=email]{
  border:none;
  border-bottom:1px solid #e3e3e3;
  width: 100%;
}

.according-assistencia-tecnica--form input[type=tel]{
  border:none;
  border-bottom:1px solid #e3e3e3;
  width: 100%;
}

.according-assistencia-tecnica__submit{
  border:none;
  background:none;
  padding:10px;
  border:1px solid #e76530;
  border-radius: 20px;
  color: #838383;
  font-size: 16px;
  width: 107px;
}

.accordion-relacionamento-cliente{
  width: 100%;
}

.according-assistencia-tecnica{
  width: 100%;
}

.accordions-cliente{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}

.according-assistencia-tecnica__options{
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width:1000px){
  .accordions-cliente{
    flex-direction: row;
  }

  .accordion-relacionamento-cliente{
    width: 49%;
  }
  
  .according-assistencia-tecnica{
    width: 49%;
  }
}

.client-section-dowload-block__a{
  text-decoration: none;
  color:#838383;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e3e3e3;
  padding: 15px;
  width: 150px;
  text-align: center;
  height: 150px;
}

.client-section-dowload-block__img{
  width:50px;
  margin-bottom: 10px;
}