// **
// Color Scheme 0.0.1
// Scheme from colors for the project
//
// From DEV Undergrond
// Participants: Jonas Sousa, Allef Silva
//
// We use two variables:
// $colors  - Map from colors default from the project.
// $palette - Tonality from the colors primarys, secondarys, etc.
// **

// Project colors
// Map from colors default from the project.

$colors: (
  black: #000000,
  blue: #003383,
  blueLigth: #0e6ed6,
  blueDarken: #001950,
  graSlim: #f1f1f1,
  gray: #454545,
  grayDarken: #555555,
  orange: #ee651a,
  white: #ffffff,
	yellow: #ffb700,
  pink: #b02778,
  purple: #8949ff,

  // semantic colors
  // sucess, error, information
  btns:(
    primary:   #8949ff,
    secondary: silver,
    gray:      #454545,
    graySlim:   #efefef,
    white:     #fff,
    blue:      #19c9c9,
    green:     #00b45b,
    orange:    #f26522,
    yellow:    #f5b038,
    pink:      #ed145b,
    red:       #e6383a
  ),

  titles:(
    grayDark: #6d6d70,
    gray: #454545,
    graySlim: #a2a2a2,
    white:  #fff,
    blue:   #00bba3,
    green:  #00b45b,
    orange: #ff6515,
    yellow: #f5b038,
    pink: #ed145b
  ),
	// semantic colors
	// sucess, error, information
	semantic:(
		sucess:  #12bc00,
		info:    #0a84ff,
		warning: #d70022,
		error:   #ff6515
	),
	// default colors
	// brand color, link, button, etc
	main:(
		primary:   #8949ff, // brand logo
		secondary: #262626, // brand logo sec
    third:     #00bba3, // brand logo third
    link:      #45a1ff,
    black:      #000,
    white:      #fff,
    transparent:  #fff0,
    graySlim: #f3f3f3,
	)
);

// Color = cl
// Colors function
@function cl($color-name, $color-variant: null) {
  // color variant is optional
  @if ($color-variant != null) {
    @if map-has-key($colors, $color-name) {
      @return map-get(map-get($colors, $color-name), $color-variant);
    }
  } @else {
    @return map-get($colors, $color-name);
  }

  @warn "Unknown `#{$color-name}` in $palettes.";
  @return null;
}

// Construction
@mixin make-color($name: color){
  @each $theme in map-keys($colors) {
    @each $length in map-get($colors, $theme) {
      @if ( length($length) >= 2 ) {
        .#{$name}-#{$theme}-#{ nth($length, 1) },
        %#{$name}-#{$theme}-#{ nth($length, 1) }{
          color: nth($length, 2);
        }
      } @else {
        .#{$name}-#{$theme}
        %#{$name}-#{$theme}{
          color: #{ nth($length, 1) };
        }
      }
    }
  }
}

// @include make-color($prefix + 'color');