.#{$prefix}-header-empreendimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond-to(sm) {
    flex-direction: row;
  }
  @include e("title") {
    @include typography(600, 26, $font-default);
    color: cl(titles, orange);
    margin-left: rem(20);
    @include respond-to(sm) {
      @include typography(600, 40, $font-default);
    }
  }

  @include m("maps") {
    margin-bottom: rem(60);
  }
}

.#{$prefix}-header-section-empreendimentos {
  margin: rem(0) rem(0) rem(90) rem(0);

  @include m("sala-comercial") {
    margin: rem(60) rem(0);
  }
}

.#{$prefix}-form-empreendimento {
  $self: &;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include respond-to(md) {
    flex-direction: row;
  }
  @include e("field") {
    flex-basis: 19%;
    margin-bottom: rem(10);
    @include respond-to(md) {
      margin-bottom: 0;
    }
    .emp_field {
      @include typography(400, 18, $font-default);
      color: cl(titles, gray);
      border: rem(1) solid #ccc;
      width: 100%;
      height: rem(45);
      padding: rem(10);
      border-radius: rem(3);
      cursor: pointer;
    }
    .btn-busca {
      @extend %transitionAll;
      background: cl(orange);
      color: cl(white);
      border: 0;

      &:hover {
        background: darken(cl(btns, orange), 10%);
      }
    }
  }

  @include m("busca") {
    flex-direction: column;

    @include e("field", $self) {
      margin-bottom: rem(15);
    }
  }
}

.#{$prefix}-empreendimentos-all {
  display: flex;
  flex-direction: column;

  @include e("filter") {
    margin-top: rem(25);

    .title {
      @include typography(600, 10, $font-default);
      color: cl(titles, gray);
      margin-bottom: rem(30);
      @include respond-to(sm) {
        @include typography(600, 15, $font-default);
      }
    }
  }
}

.#{$prefix}-empreendimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

  @include e("ver-todos") {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: rem(30) 0 0;
  }
}

.#{$prefix}-empreendimento {
  position: relative;
  display: flex;
  margin-bottom: rem(40);
  width: 100% $i;
  border-top-left-radius: rem(6);
  border-bottom-left-radius: rem(6);
  border-top-right-radius: rem(6);
  border-bottom-right-radius: rem(6);
  box-shadow: 0 rem(5) rem(15) 0 #d9d9d9;
  flex-direction: column;

  @include respond-to(sm) {
    flex-direction: row;
    height: rem(260);
  }

  @include e("img") {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: rem(6);
    border-top-right-radius: rem(6);

    @include respond-to(sm) {
      width: 50%;
      border-top-right-radius: 0;
    }

    @include respond-to(md) {
      width: 20%;
    }

    @include respond-to(lg) {
      width: 15%;
    }

    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      position: relative;
      transform: translateX(-50%);
      left: 50%;

      @include respond-to(xxs) {
        width: 50%;
      }

      @include respond-to(sm) {
        width: 100%;
        border-top-right-radius: 0;
        border-top-left-radius: rem(6);
        border-bottom-left-radius: rem(6);
      }
      @include respond-to(md) {
        position: absolute;
      }
    }

    .status {
      @include typography(600, 15, $font-default);
      background: cl(titles, orange);
      color: cl(titles, white);
      display: inline-block;
      height: rem(40);
      margin-left: rem(0);
      position: absolute;
      right: rem(-3);
      bottom: rem(25);
      width: rem(130);
      display: flex;
      align-items: center;
      line-height: 1;
      
      &:after {
        bottom: 0;
        border-width: rem(20);
        border-style: solid;
        border-color: cl(titles, orange) cl(titles, orange) cl(titles, orange) transparent;
        content: "";
        display: inline-block;
        height: 0;
        line-height: 0;
        position: absolute;
        right: 100%;
        width: 0;
      }
      &:before {
        bottom: rem(6);
        box-shadow: 0 rem(5) rem(14) rgba(0, 0, 0, 0.4);
        content: "";
        height: rem(4);
        left: rem(-35);
        position: absolute;
        transform: skew(-5deg) rotate(-5deg);
        width: rem(120);
        z-index: -1;
      }
    }
  }

  @include e("info") {
    padding: rem(15) rem(20);
    background: cl(white);
    border-top: rem(1) solid #e5e5e5;
    border-bottom: rem(1) solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom-left-radius: rem(6);
    border-bottom-right-radius: rem(6);
    position: relative;

    .overlay-link-emp {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      top: 0;
      left: 0;
    }

    .tabela-link{
      z-index: 3;
      position: sticky;
    }

    @include respond-to(sm) {
      width: 100%;
      border-bottom-left-radius: 0;
      border-top-right-radius: rem(6);
    }

    @include respond-to(md) {
      width: 40%;
    }

    @include respond-to(lg) {
      width: 35%;
    }

    .logo {
      width: rem(100);
      height: rem(78);
      object-fit: contain;
    }

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .title {
      @include typography(800, 12, $font-default);
      
      @include respond-to(sm) {
        font-size: rem(20);
      }

      h3 {
        color: cl(titles, gray);
      }
    }
    
    .subtitle {
      @include typography(600, 13, $font-default);
      color: cl(titles, gray);
      
      @include respond-to(sm) {
        font-size: rem(16);
      }

     
    }

    .tipo {
      @include typography(600, 14, $font-default);

      @include respond-to(sm) {
        font-size: rem(18);
      }

      color: cl(titles, orange);
    }
    .desc {
      @include typography(600, 16, $font-default);
      color: cl(titles, gray);
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: rem(16) rem(0) rem(10);
      flex-direction: column;

      @include respond-to(xxs) {
        flex-direction: row;
        //margin: rem(28) rem(0);
      }
      
      @include respond-to(md) {
        margin: rem(0);
      }


      @include e("option") {
        width: 100%;
        display: flex;
        margin-bottom: rem(15);
        flex-direction: row;
        align-items: center;
        padding-bottom: 5px;

        @include respond-to(xxs) {
          padding-bottom: 0;
          align-items: flex-start;
          flex-direction: column;
          width: calc(100% / 3);
        }

        @include respond-to(md) {
          margin-bottom: rem(0);
        }

        .title {
          @include typography(600, 15, $font-default);
          color: cl(titles, gray);
          margin-top: 0;

          &:after {
            margin: 0 10px 0 4px;
            content: ":";
           
            @include respond-to(xxs) {
              display: none;
            }
          }
        }


        @include m("tamanho") {
          border-bottom: rem(1) solid cl(titles, graySlim);

          @include respond-to(xxs) {
            border-bottom: none;
            //border-right: rem(1) solid cl(titles, graySlim);
          }

          .metragem {
            display: flex;
          }
        }
        @include m("suites") {
          border-bottom: rem(1) solid cl(titles, graySlim);

          @include respond-to(md) {
            padding-left: 20px;
          }

          @include respond-to(xxs) {
            border-bottom: none;
            border-right: rem(1) solid cl(titles, graySlim);
            border-left: rem(1) solid cl(titles, graySlim);
          }
        }
        @include m("vagas") {
          flex-basis: 22%;
          border-bottom: rem(1) solid cl(titles, graySlim);
          @include respond-to(xxs) {
            border-bottom: none;
          }
        }
        span {
          @include respond-to(sm) {
            margin-top: rem(8);
          }
        }
      }
    }

    .informacoes {
      color: cl(titles, gray);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      @include respond-to(xxs) {
        flex-direction: row;
      }
      a {
        margin-bottom: 10px;
      }
      .local {
        @include typography(600, 14, $font-default);
        color: cl(titles, gray);
      }
    }
  }

  @include e("owl") {
    display: none;

    @include respond-to(md) {
      width: 40%;
      display: block;
      position: relative;
      overflow: hidden;

    }

    @include respond-to(lg) {
      width: 50%;
      display: block;
    }

    img {
      height: rem(260);
      object-fit: cover;
      border-top-right-radius: rem(6);
      border-bottom-right-radius: rem(6);
      max-width: 100%;
    }

    .status {
      @include typography(600, 15, $font-default);
      background: cl(titles, orange);
      color: cl(titles, white);
      display: inline-block;
      height: rem(40);
      margin-left: rem(0);
      position: absolute;
      right: rem(-3);
      bottom: rem(25);
      width: rem(130);
      display: flex;
      align-items: center;
      z-index: 9;
      line-height: 1;

      &:after {
        bottom: 0;
        border-width: rem(20);
        border-style: solid;
        border-color: cl(titles, orange) cl(titles, orange) cl(titles, orange) transparent;
        content: "";
        display: inline-block;
        height: 0;
        line-height: 0;
        position: absolute;
        right: 100%;
        width: 0;
      }
      
      &:before {
        bottom: rem(6);
        box-shadow: 0 rem(5) rem(14) rgba(0, 0, 0, 0.4);
        content: "";
        height: rem(4);
        left: rem(-35);
        position: absolute;
        transform: skew(-5deg) rotate(-5deg);
        width: rem(120);
        z-index: -1;
      }
    }

    .owl-nav {
      .owl-prev,
      .owl-next {
        width: rem(30);
        height: rem(30);
        background: rgba(255, 255, 255, 0.64);
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 0;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;

        &:hover {
          background: cl(white);
        }
      }

      .owl-prev {
        &:before {
          content: "";
          color: cl(main, black);
          font-size: rem(12);
        }
      }

      .owl-next {
        &:before {
          content: "";
          color: cl(main, black);
          font-size: rem(12);
        }
      }
    }
  }


  
}

.#{$prefix}-emp-owl {
  width: 100%;
  float: left;

  @include e('figure') {
    position: relative;
  }

  @include e('link') {
    position: relative;
    display: block;
  }
 
}

.#{$prefix}-galeria-not-found {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  @include respond-to(md) {
    display: flex;
  }
  .icone {
    font-size: rem(60);
    color: #b0b0b0;
  }

  @include e("title") {
    @include typography(600, 25, $font-default);
    color: #b0b0b0;
    margin-top: rem(15);
  }
}