.#{$prefix}-footer {
    @extend %boxFull;
    display: flex;
    flex-direction: column;
    background: cl(white);
    padding-top: rem(30);
    padding-bottom: rem(50);
    
    @include respond-to(sm) {
        padding-top: rem(60);
    }
    
    @include respond-to(md) {
        padding-bottom: rem(45);
    }

    @include e('marquise') {        
        display: flex;
        border-bottom: 1px solid #eeeeee;
        
        @include m('cvtt') {
            height: auto;
            // background: #ccc;
        }
    }

    @include e('marquise-thumb-cvtt') {
        background: url(../images/logo-convertte.png) no-repeat;
        background-position: right;
        height: rem(40);
        
    }
}


.#{$prefix}-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include respond-to(md) {
        flex-direction: row;
        align-items: end;
    }

    @include m('end') {
        margin: rem(60) rem(0) rem(0);
        background: cl(main, graySlim);
        height: auto;
        padding: rem(30) 0 rem(15);

        
    }

    @include e('elements') {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        @include respond-to(md) {
            align-items: end;
            flex-direction: row;

        }
    }
}


.#{$prefix}-nav-footer {
    flex-basis: 45%;
    margin-bottom: rem(30);

    @include e('menu') {


        .menu-menu-footer-container {
            width: 100%;
        }
    }
}


.#{$prefix}-menu-rdp {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    
    
    @include respond-to(sm) {
        flex-direction: row;
        text-align: left;
    }

    .menu-item {
        margin-top: rem(30);
        
        &:first-child {
            margin-top: rem(0);
        }

        @include respond-to(sm) {
            flex-basis: 33%;
            margin-top: rem(0);
            text-align: center;
        }
        
        @include respond-to(md) {
            flex-basis: 20%;
            text-align: left;
        }
        
        @include respond-to(lg) {
            flex-basis: 29%;

        }

        a {
            color: cl(titles, grayDark);
            font-size: rem(16);
            

            @include respond-to(lg) {
                font-size: 1.2rem;
            }

            &:before{
                content: none;
            }
        }

        .sub-menu {
            margin-top: rem(15);

            .menu-item {
                text-align: center;
                margin: rem(10) rem(0) rem(0);
                
                @include respond-to(sm) {
                    text-align: center;
                }
                
                @include respond-to(md) {
                    text-align: left;
                }

                a {
                    // @include typography(400, 14, $font-default);
                    font-family: 'Darker Grotesque', sans-serif !important;

                    &:hover {
                        color: cl(titles, orange);
                    }
                }
            }
        }
    }
}

.mq-menu a{
    font-family: 'Darker Grotesque', sans-serif !important;
    font-weight: 500 !important;
}

.#{$prefix}-menu {
    display: flex;
    
}

.#{$prefix}-grupo-empresas {
    flex-basis: 50%;

    @include e('title') {
        @include typography(600, 18, $font-default);
        color: cl(titles, grayDark);
        text-align: center;
        
        @include respond-to(sm) {
            margin-bottom: rem(40);
        }
        
        @include respond-to(md) {
            text-align: left;
        }
    }

}

.#{$prefix}-empresa {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: rem(30);
    
    @include e('thumb') {
        height: rem(90);
        display: flex;
        position: relative;
        flex-basis: 25%;
        text-align: center;

        img {
            object-fit: contain;
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
}


.#{$prefix}-footet-logo {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    
    @include respond-to(md) {
        justify-content: flex-start;
    }

    a {
        font-size: rem(0);
    }
}


.#{$prefix}-footer-endereco {
    @include typography(600, 14, $font-default);
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: cl(titles, grayDark);
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
    
    @include respond-to(md) {
        margin-top: 0;
        flex-direction: column;
        text-align: left;
    }
    
    @include respond-to(lg) {
        font-size: rem(18);
    }

    .texto {
        @include typography(600, 16, $font-default);
        color: cl(titles, gray);
    }

    .end {
        @include typography(600, 14, $font-default);
        color: cl(titles, gray);
        margin: rem(10) 0 rem(0);
        
        @include respond-to(md) {
            margin: rem(0);
        }
    }

    .btn {
        @extend %transitionAll;
        @include typography(500, 13, $font-default);
        background: #00b45b;
        color: white;
        border-radius: rem(20);
        width: rem(140);
        height: rem(35);
        display: flex;
        align-items: center;
        line-height: 1;
        justify-content: center;
        margin: rem(0);

        &:hover {
            background: #0c894b;
        }
    }

    .fones {
        display:  flex $i;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 15px;
        
        @include respond-to(sm) {
            margin-bottom: 0;
            margin-top: rem(15);
            
        }

        .tel {
            @include typography(400, 14, $font-default);
            color: cl(titles, gray);
            line-height: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            strong {
                margin-bottom: 5px;
                display: inline-block;
                
                @include respond-to(sm) {
                    display: initial;
                    margin-bottom: 0;
                }
            }
            
            .number {
                margin-top: rem(5);
            }
            
            i {
                margin-right: rem(5);
                font-size: rem(18);
                
            }
        }
    }
}

.#{$prefix}-footer-midias {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: rem(22);
    
    @include respond-to(sm) {
        justify-content: center;
        flex-basis: 20%;
    }
    
    @include respond-to(md) {
        justify-content: space-evenly;
    }

    @include e('icone') {
        color: cl(btns, gray);
        margin: 0 rem(15);
        
        @include respond-to(md) {
            margin: 0;
        }

        i {
            @extend %transitionAll;
            &:hover {
                color: cl(titles, orange);
            }
        }
    }
}

.grid-footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 15px;
    font-size: 20px;

    @include respond-to(md){
        grid-template-columns: 1fr 2fr;
    }

    .footer-marquise_info{
        font-family: 'Darker Grotesque', sans-serif !important;
        font-size: 18px;
        text-align: center;
        font-weight: 500;

        @include respond-to(md){
            text-align: left;
        }
    }
    ul{
        margin-top: 20px;
        color:#6d6d70;

        li{
            font-family: 'Darker Grotesque', sans-serif;
        }
    }
}

.footer-component-cvtt{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 25px;
    text-align: center;
    
    @include respond-to(md){
        grid-template-columns: 1fr 1fr;
    }
    
    p{
        font-family: 'Darker Grotesque', sans-serif !important;
        color:#6d6d70;
        font-weight: 500 !important;
        font-size: 18px;
        text-align: center;

        @include respond-to(sm){
            text-align: left;
        }
    }
}

