.#{$prefix}-header {
  $self: &;
  position: fixed;
  width: 100%;
  z-index: 9;
  padding-top: rem(1);



  
}

.#{$prefix}-header-child {
  display: flex;
  padding: rem(10);
  align-items: center;
  position: relative;
  justify-content: flex-start;
  background: white;
  border-radius: rem(6);

  &:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.08);
    height: 100%;
    display: none;
    position: absolute;
    z-index: 1;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    right: 0;
    border-left: 1px solid #d7d7d7;

    @include respond-to(sm) {
      width: 71%;
      display: block;
    }

    @include respond-to(md) {
      width: 75%;
    }

    @include respond-to(lg) {
      width: 77%;
    }

  }

  @include respond-to(sm) {
    border-radius: rem(80);
    padding: rem(10) rem(20);
    justify-content: space-between;
  }

  @include respond-to(md) {
    padding: rem(25);
  }

  @include respond-to(lg) {
    height: rem(80);
  }

  @include e("logo") {
    flex-basis: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    @include respond-to(sm) {
      flex-basis: 25%;
    }

    @include respond-to(md) {
      flex-basis: 22%;
    }

    @include respond-to(lg) {
      flex-basis: 19%;
    }

    a {
      font-size: rem(0);

      img {
        width: 140px;

        @include respond-to(sm) {
          width: rem(250);
          max-width: 100%;
        }
      }
    }
  }

  @include e("nav") {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    @include respond-to(sm) {
      flex-basis: 70%;
    }

    @include respond-to(md) {
      flex-basis: 50%;
    }

    @include respond-to(lg) {}

    .menu-menu-principal-container {
      width: 100%;
    }
  }

  @include e("menu") {
    display: none;
    z-index: 3;
    @include respond-to(sm) {
      align-items: center;
      height: rem(56);
      justify-content: space-between;
      display: flex;
    }

    .menu-item {
      a{
        color:#fff !important;
        font-size: 0.9rem !important;

        &:hover{
          border-bottom: 1px solid orange;
        }
      }
      a {
        @include typography(600, 10, $font-default);
        @extend %transitionAll;

        @include respond-to(md) {
          font-size: rem(5);
        }

        @include respond-to(lg) {
          font-size: rem(5);
        }

        color:red;

        &:hover {
          color: cl(btns, orange);
        }
      }
    }
  }

  @include e("mobile") {
    li {
      margin: rem(10);
      text-align: center;

      &:first-child {
        @include radius(rem(3));
        background: cl(green);
        max-width: 60%;
        margin: 0 auto;
        padding: rem(7);
        text-align: center;

        @include respond-to(sm) {
          max-width: 25%;
        }

        a {
          color: cl(white);
          text-transform: uppercase;
        }
      }

      a {
        text-transform: uppercase;
        color: cl(gray);
      }
    }

    @include respond-to(md) {
      display: none;
    }
  }

  @include e("informacoes") {
    display: none;
    z-index: 3;
    @include respond-to(md) {
      align-items: center;
      flex-basis: 18%;
      display: flex;
      justify-content: space-between;
    }

    h3 {
      @include typography(400, 16, $font-default);
      color: cl(titles, grayDark);

      @include respond-to(md) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      @include respond-to(lg) {
        //font-size: rem(20);
      }
    }
    strong {
      font-size: rem(16);
      margin-left: rem(10);

      @include respond-to(lg) {
        font-size: rem(22);
      }
    }
  }
}

.#{$prefix}-user-btns {
  display: flex;
  justify-content: center;
  margin-top: rem(10);
  margin-bottom: rem(10);
  
  @include respond-to(sm) {
    justify-content: flex-end;
    margin-top: rem(0);
    margin-bottom: rem(0);
    display: flex;
    height: rem(45);
    align-items: center;
  }
  
  @include respond-to(md) {
    justify-content: flex-end;
  }
  

  @include e('item') {
    border-radius: rem(16);
    color: cl(titles, white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: rem(30);
    width: rem(185);
    border: 1px solid white;
    
    &:first-child {
      margin-right: rem(5);
    }
    
    @include respond-to(sm) {
      border: none;
      background: #fb8248;
      justify-content: center;
      flex-direction: row;
    }

    &:hover {
      background: #f66f32;
    }
    
    .title {
      @extend %transitionAll;
      @include typography(100, 11, $font-default);
      color: cl(titles, white);
      margin-left: rem(5);
      
      @include respond-to(sm) {
        font-size: rem(13);
        margin-bottom: rem(2);
      }
    }
    
  
    
    
    
    .link-top {
      @extend %transitionAll;
      color: cl(titles, white);
      align-items: center;
      display: flex;
      
      .icone {
        font-size: rem(17);
        margin-top: rem(-2);

        @include respond-to(sm) {
          margin-right: rem(10);
        }
      }

    }

   

  }
}

.search {

  @extend %transitionAll;
  // background: #363636 !important;

  @include respond-to(md) {
    @include size(rem(40), rem(40));
    // @include radius(rem(50));
    align-items: center;
    background: cl(btns, orange);
    color: cl(btns, white);
    display: flex;
    font-size: rem(20);
    justify-content: center;
  }

  @include respond-to(lg) {
    @include size(rem(70), rem(70));
    font-size: rem(15);
    margin-right: rem(-15);
  }

  &:hover {
    background: darken(cl(btns, orange), 10%);
  }
}

.#{$prefix}-header-modal {
  @include e("title") {
    @include typography(600, 25, $font-default);
    color: cl(gray);
    text-align: center;
    margin: rem(15) 0 rem(30) 0;
  }
}


.#{$prefix}-modal-cliente {
  display: flex;
  flex-direction: column;


  @include m('forget-password') {
    display: none;
    margin-top: 15px;
  }

  @include e("form-group-pass") {
    margin-bottom: rem(7)
  }

  @include e("title-pass") {
    @include typography(400, 15, $font-default);
    color: #313131;
    text-align: center;
    margin-bottom: 9px;
  }
  .login__msg--erro {
    @include typography(400, 15, $font-default);
    background: #f51100;
    margin-bottom: 8px;
    padding: 9px;
    color: #fff;
  }
  .login__msg--sucesso {
    @include typography(400, 15, $font-default);
    background: green;
    padding: 9px;
    color: #fff;
  }

  @include e('reset-password') {
    @include typography(400, 15, $font-default);
    margin-top: 15px;
    color: #313131;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @include e("form-group") {
    margin-bottom: rem(15);

    input {
      @include typography(400, 16, $font-default);
      width: 100%;
      height: rem(50);
      padding: rem(15);
      border: 1px solid rgba(202, 202, 202, 0.9);
    }
  }

  @include e("btn") {
    background: #ff5722;
    height: rem(55);
    border: 0;
    color: cl(white);
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;

    #cliente-login-load {
      display: none;
    }
  }
}

.title-form-cliente {
  @include typography(400, 22, $font-default);
  color: cl(gray);
  text-align: center;
  margin-bottom: rem(16);
}

// form busca empreendimento
#busca-emp {
  // background: #363636;
  background: #fff;
  .title {
    @include typography(400, 22, $font-default);
    color: cl(gray);
    text-align: center;
    margin-bottom: rem(20);
  }
}

.header-child__location{
  display: flex;
  flex-direction: row;
  display: none;

  @include respond-to(xs){
    display: flex;
  }

  .header-child__img{
    height: 18px;
    width: 14px;
    margin-top: 4px;
  }

  select{
    background: none;
    border:none;
    color: #fff;
    cursor: pointer;
  }
  option{
    background:#e5e5e5;
    color:black;
    border:none;
    border-radius: 5px;
    padding: 5px;
  }
}

.mq-header-select{
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
  color:#cecece;
}