.#{$prefix}-menu {
    $self: &;
    display: none;

    @include respond-to(sm){
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    a {
        @include typography(600, 18, $font-default);
        color: cl(titles, cl(white));
        position: relative;

        &:before {
            content: '';
            border: rem(1) solid cl(orange);
            background: cl(orange);
            border-radius: rem(30);
            height: rem(10);
            left: rem(-22);
            position: absolute;
            top: rem(5);
            width: rem(10);
        }
    }

  @include e(item){
    position: relative;

    > ul {
        display: none;
    }

    &:before {
        display: none;
        content: "";
        width: 80%;
        height: 3px;
        background: cl(btns, orange);
        position: absolute;
        bottom: -22px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {

        a {
            color: cl(btns, orange);
        }

        &:before {
            display: block;
        }
    }

    @include m('active') {

        a {
            color: cl(btns, orange);
        }

        &:before {
            display: block;
        }
    }

    @include m('parent--active') {

        a {
            color: cl(btns, orange);
        }

        &:before {
            display: block;
        }
    }
  }

  @include m('mobile'){

        @include e('item', $self){

            ul {
                display: none $i;
            }

            //@include fonts(300, 30, $font-light);
            transform: translate3d(0,100px,0);
            transition: transform 0s 0.4s;
            transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            color: rgba(cl(white), 0.8);
            margin-bottom: rem(22);

            &:hover {
                &:before {
                    display: none;
                }
            }

            @include m('active') {

                a {
                    color: cl(btns, orange) $i;
                }

                &:before {
                    display: none;
                }
            }

            @include m('parent--active') {

                a {
                    color: cl(btns, orange) $i;
                }

                &:before {
                    display: none;
                }
            }

        }

        //     @include m('active'){
        //         a {
        //             color: #a879ff;
        //         }
        //     }

        //     &:hover {
        //         color: cl(white);
        //     }
        // }
    }
}

