.#{$prefix}-header-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond-to(sm) {
    flex-direction: row;
  }
  .icone-redes {
    margin: rem(5) 0;
    background: url("../images/icone-redes.png") no-repeat;
    height: rem(57);
    width: rem(70);
    background-size: contain;

    @include respond-to(sm) {
      font-size: rem(40);
      margin: rem(6) 0;
    }
  }

  @include e("title") {
    @include typography(600, 26, $font-default);
    color: cl(titles, orange);
    margin-left: rem(20);
    @include respond-to(sm) {
      @include typography(600, 40, $font-default);
    }
  }
}

.#{$prefix}-galeria-instagram {
  width: 100%;
  float: left;
  margin: rem(60) rem(0) rem(0) $i;
}

// STYLO PARA O PLUGIN DO INSTAGRAM FEEDS
.sifs-load-more-button-wrap a {
  @include typography(500, 16, $font-default);
  border: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.sifs-feed-image img {
  @include respond-to(md) {
    min-height: 260px;
  }
  @include respond-to(lg) {
    min-height: 344px;
  }
}
.sifs-clearfix {
  display: flex;
  flex-wrap: wrap;
}
.sifs-individual-item {
  width: calc(100% / 2) $i;
  @include respond-to(sm) {
    width: calc(100% / 4) $i;
  }
}
.sifs-clearfix:after {
  display: none;
}
.sifs-content-wrap {
  padding: 24px 20px $i;
}

.sifs-user-img-name {
  display: none;
  @include respond-to(md) {
    display: block;
  }
}
