.#{$prefix}-scrollbar {
  bottom: 0;
  background: #161616;
  padding: rem(9) 0;
  float: left;
  border-bottom: 1px solid  #797979;
  z-index: 99;
  border-top: 3px solid #373737;
  width: 100%;
  position: fixed;
  
  
  @include respond-to(sm) {
    padding: rem(9) 0 0;
    height: rem(63);
    //padding: rem(4) 0;
  }
  
  @include respond-to(md) {
    padding: rem(4) 0 0;
  }


  &.is-fixed {
    width: 100%;
    position: fixed;
    bottom: rem(0);
    left: 0;
    z-index: 99;
    border-top: 3px solid #FF5722;
  }
}

.#{$prefix}-block-info {
  display: flex;
  flex-wrap: wrap;

  @include e("item") {
    display: flex;
    //border-bottom: rem(1) solid cl(white);
    width: calc(100% / 3);
    justify-content: center;
    
    @include respond-to(sm) {
      flex-direction: row;
      padding-bottom: 0;
      justify-content: center;
      border-bottom: none;
      border-right: rem(1) solid #c3c0be;
      
    }
    
    @include respond-to(md) {
      width: calc(100% / 4);
      //width: calc(100% / 5);
      //padding-bottom: rem(13);
      margin: rem(6) 0;
      
    }
    
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      @include respond-to(sm) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
      }
    }


    .mq-icon {
      //display: none;
      
      @include respond-to(md) {
        display: block;
      }
    }


    // &:nth-child(3) {
    //   display: none;

    //   @include respond-to(md) {
    //     display: flex;
    //   }
    //}


    &:nth-child(2) {
      display: none;

      @include respond-to(md) {
        display: flex;
      }
    }

    &:last-child {
      border-right: rem(0);
      border-bottom: none;   
      margin-right: 0;
    }
  }

  @include e("content") {
    text-align: center;
    
    @include respond-to(sm) {
      text-align: inherit;
      margin-left: rem(6);
    }

    .title {
      @include typography(500, 10, $font-default);
      color: white;
      margin-top: 4px;
      
      @include respond-to(sm) {
        margin-top: 0;
        font-size: rem(16);
      }
    }

    .info {
      @include typography(700, 12, $font-default);
      color: white;
      display: none;
      
      @include respond-to(sm) {
        font-size: rem(16);
        display: block;
      }

      @include respond-to(lg) {
        //@include typography(700, 20, $font-default);
      }
    }
  }
}
