.#{$prefix}-slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: rem(500);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include respond-to(sm) {
    height: rem(600);
  }
  
  @include respond-to(md) {
    height: rem(720);
  }
  
  @include respond-to(lg) {
    height: 100vh;
  }

  &:before {
    @include size(100%, 100%);
    content: "";
    position: absolute;
    background: linear-gradient(-17deg, cl(main, transparent), rgba(0, 0, 0, 1));
    top: rem(0);
    z-index: 1;

    @include respond-to(sm) {
      background: linear-gradient(-17deg, cl(80%, rgba(0, 0, 0, 1)), transparent);
    }
  }

  @include e("img-link") {
    width: 100%;
    height: rem(300);
    position: absolute;
    top: 0;
    left: 0;

    @include respond-to(sm) {
      height: rem(600);
    }
    
    @include respond-to(md) {
      height: rem(720);
    }
    
    @include respond-to(lg) {
      height: 100vh;
    }

  }
  
  @include e("info-destaque") {
    display: flex;
    width: 100%;
    z-index: 9;

    @include respond-to(md) {
      padding-left: rem(30);
    }
  }

  @include e("info") {
    margin-bottom: rem(15);

    h2{
      font-size: rem(20);
      letter-spacing: rem(1);
      text-transform: uppercase;
      animation: .8s .3s fadeInUp both;
      
      @include respond-to(sm) {
        font-size: rem(16);
      }
      
      
      @include respond-to(md) {
        font-size: rem(30);
      }
      
    }
    
    h3 {
      animation: .7s .2s fadeInUp both;
      font-size: rem(14);
      text-transform: uppercase;
      letter-spacing: rem(1);
      
      @include respond-to(sm) {
        font-size: rem(16);
      }
      
      
      @include respond-to(md) {
        font-size: rem(18);
      }
    }
    
    p {
      display: none;
      //margin: rem(10) rem(0);
      
      @include respond-to(sm) {
        font-size: rem(19);
        display: block $i;
        animation: .7s .1s fadeInUp both;
        margin: rem(10) rem(0);
      }
      
      @include respond-to(md) {
        font-size: rem(20);
      }
      
      @include respond-to(lg) {
        font-size: rem(24);
      }
    }

  }

  @include e("txt") {
    align-items: center;
    color: cl(titles, white);
    display: flex;
    font-weight: 100;
    font-family: $font-default;
    flex-direction: column;
    text-align: center;
    z-index: 9;
    width: 100%;

    @include respond-to(sm) {
      align-items: flex-start;
      text-align: left;
    }
    
    @include respond-to(md) {
      ///flex-basis: 80%;
      margin-top: 0%;
    }

    @include respond-to(lg) {
      //flex-basis: 50%;
    }

    

  }
}

#owl-slider-destaque {
  .owl-stage-outer {
    margin: 0;
  }

  .owl-controls {
    .owl-dots {
      bottom: rem(20);
      position: absolute;
      transform: rotate(0deg);
      width: 100%;

      @include respond-to(md) {
        bottom: 50%;
        left: rem(-470);
        transform: rotate(90deg);
      }

      @include respond-to(lg) {
        left: rem(-600);
      }

      .owl-dot.active {
        background-color: cl(btns, white) $i;
      }

      .owl-dot {
        background: transparent $i;
        width: rem(10);
        height: rem(10);
        border: rem(1) solid cl(btns, white);

        @include respond-to(sm) {
          height: rem(20);
          width: rem(20);
        }

        @include respond-to(md) {
          height: rem(15);
          width: rem(15);
        }
      }
    }
  }
}


.mouse {
  opacity: 1;
  z-index: 999;
  // width: 30px $i;
  height: 50px;
  border-radius: 0;
  //border: 2px solid white;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 35px;
  margin-left: -15px; 

  // @include respond-to(sm) {
  //   display: none;
  // }
}
.mouse-wheel {
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 15px;
  //border: 1px solid white;
  width: 6px;
  display: none;
  border-radius: 500px;
  margin: 5px auto 0;
  margin-top: 5px;
}
.mouse-wheel::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #fff;
  height: 4px;
  left: 50%;
  margin-left: -2px;
  border-radius: 15px;
  animation: mouseScroll 1.5s 000ms infinite ease;
}
.arrows {
  position: relative;
  width: 26px;
  height: 20px;
  overflow: hidden;
  margin-top:-5px;
}

.arrows-container {
  overflow: hidden;
  position: relative;
  
}
.arrows {
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: rotate(45deg);
  margin-left: -10px;
  content: '';
  opacity: 0;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-left-color: transparent;
  border-top-color: transparent;
  animation: arrowScroll 1.5s 500ms ease-in-out infinite ;
}

@keyframes mouseScroll {
  0% {
    margin-top: -10px;
    opacity: 0;
  }
  50% {
    height: 8px
  }
  100% {
    margin-top: 16px;
  }
}

@keyframes arrowScroll {
  from {
    margin-top: -2px;
    transform:  rotate(45deg) ;
    opacity: 0;

  }
  50% {
    transform:  rotate(45deg) ;
    opacity: 1;
  }
  to {
    margin-top: 10px;
    transform:  rotate(45deg);
    opacity: 0;
  }
}