.#{$prefix}-header-suarenda {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 9;

  .icone-search {
    margin: rem(5) 0;
    background: url("../images/simulacao.png") no-repeat;
    height: 50px;
    background-position: center;
    background-size: contain;

    @include respond-to(sm) {
      font-size: rem(40);
      margin: rem(6) 0;
    }
  }

  .toptitle {
    @include typography(600, 15, $font-default);
    color: cl(titles, white);
    text-transform: uppercase;
    margin: rem(15) 0;

    @include respond-to(sm) {
      font-size: rem(20);
    }
  }

  .title {
    @include typography(100, 19, $font-default);
    color: cl(titles, white);

    @include respond-to(sm) {
      font-size: rem(40);
    }

    @include respond-to(md) {
      font-size: rem(45);
    }

    @include respond-to(lg) {
      font-size: rem(53);
    }

    strong {
      font-weight: 800;
      display: flex;
      justify-content: center;
    }
  }

  @include m("simulador") {
    .icone-search {
      margin: rem(5) 0;
      background: url("../images/simulacao-orange.png") no-repeat;
      height: 50px;
      background-position: center;
      background-size: contain;

      @include respond-to(sm) {
        font-size: rem(40);
        margin: rem(6) 0;
      }
    }

    .toptitle {
      @include typography(600, 15, $font-default);
      color: cl(titles, gray);
      text-transform: uppercase;
      margin: rem(15) 0;

      @include respond-to(sm) {
        font-size: rem(20);
      }
    }

    .title {
      @include typography(100, 19, $font-default);
      color: cl(titles, orange);

      @include respond-to(sm) {
        font-size: rem(40);
      }

      @include respond-to(md) {
        font-size: rem(45);
      }

      @include respond-to(lg) {
        font-size: rem(53);
      }

      strong {
        font-weight: 800;
        display: flex;
        justify-content: center;
      }
    }
  }
}

.#{$prefix}-suarenda-form {
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: center;
  margin-top: rem(15);
  min-height: 605px;

  @include respond-to(sm) {
    margin-top: rem(60);
  }

  .form-simulador {
    width: 100%;
    max-width: 100%;
    @include respond-to(md) {
      max-width: 65%;
    }

    @include e("title") {
      @include typography(100, 20, $font-default);
      color: cl(titles, white);
      margin: rem(30) rem(0);

      @include m("gray") {
        color: cl(titles, gray);
      }
    }

    @include e("item") {
      margin-bottom: rem(20);

      input,
      textarea,
      select {
        @include typography(100, 20, $font-default);
        color: cl(titles, white);
        width: 100%;
        height: rem(65);
        padding: rem(20);
        background: rgba(7, 2, 2, 0.4117647058823529);
        border-radius: rem(50);
        border: rem(1) solid #ccc;

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: white;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: white;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: white;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: white;
        }
      }

      @include m("white") {
        input,
        textarea,
        select {
          background: white;
          color: gray;

          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: gray;
          }
          &::-moz-placeholder {
            /* Firefox 19+ */
            color: gray;
          }
          &:-ms-input-placeholder {
            /* IE 10+ */
            color: gray;
          }
          &:-moz-placeholder {
            /* Firefox 18- */
            color: gray;
          }
        }
      }

      .tipo {
        background: rgba(7, 2, 2, 0.4117647058823529);
        text-overflow: "" $i; /* Remove seta padrão do FireFox */
        select::-ms-expand {
          display: none;
        } /* Remove seta padrão do IE*/
        position: relative;
        /* спрятать стрелку дефолтную	 */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        /* картинку на фон */
        background-image: url("../images/drop-down.png");
        /* запрешаем повторение фона */
        background-repeat: no-repeat $i;
        /* размер фона */
        background-size: 25px $i;
        /* позиционируем фон 95% по X и 50% по Y */
        background-position: 92% 50% $i;

        @include m("white") {
          background-image: url("../images/drop-down-hover.png") $i;
          background: #fff;
          color: gray;
        }
      }

      @include m("matricula") {
        display: none;
      }

      @include m("col2") {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .form-simulador__group {
          width: 49%;
          @include respond-to(max_sm) {
              width: 100%;
            &:nth-child(1) {
              margin-bottom: rem(20);
            }
          }
        }
        @include respond-to(sm) {
          flex-direction: row;
        }
      }

      @include m("btn") {
        margin-top: rem(60);
        margin-bottom: 0;
        display: flex;
        justify-content: center;
      }

      .slider {
        background: #fff;

        @include m("gray") {
          background: #dedede $i;
        }
      }

      .slidershell {
        border: 0 none;
        position: relative;
        left: 0px;
        top: 0px;
        overflow: visible;
        width: 100%;
        height: 5px;
        display: block;
      }

      .slidertrack {
        border-radius: 10px;
        position: absolute;
        width: 100%;
        height: 5px;
      }

      .sliderfill {
        border-radius: 10px;
        position: absolute;
        pointer-events: none;
        background: orange;
        max-width: 100%;
        height: 5px;
        top: rem(10);
        z-index: 10 $i;
      }

      .sliderthumb {
        width: rem(10);
        height: rem(10);
        background-color: orange;
        border-radius: 50%;
        background-position: 0px 0px;
        position: absolute;
        left: 0px;
        top: 6px;
        border: 0 none;
        padding: 0px;
        margin: 0px;
        text-align: center;
        pointer-events: none;
        z-index: 10 $i;
      }

      .slidervalue {
        color: mix($black, $white, 25%);
        font-family: helvetica, sans-serif;
        font-size: rem(12);
        position: absolute;
        left: 0px;
        top: rem(26);
        display: block;
        border: 1px solid mix($black, $white, 25%);
        padding: 5px;
        border-radius: 5px;
        pointer-events: none;
        white-space: pre;
      }

      .btn-simular {
        @include typography(100, 16, $font-default);
        @extend %transitionAll;
        background: cl(orange);
        color: cl(titles, white);
        border: 0;
        height: rem(50);
        width: rem(200);
        border-radius: rem(50);
        cursor: pointer;

        &:hover {
          background: darken(cl(btns, orange), 10%);
        }
      }
      /* First we have to make transparent all the default elements of the range input.
                We use color:transparent to eliminate the default tick marks in IE. */

      input[type="range"]::-ms-track {
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        margin: 0px;
        padding: 0px;
        border: 0 none;
        color: transparent;
        overflow: visible;
      }
      input[type="range"]::-moz-range-track {
        width: 100%;
        height: 100%;
        -moz-appearance: none;
        margin: 0px;
        padding: 0px;
        border: 0 none;
        color: transparent;
        overflow: visible;
      }
      input[type="range"] {
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        margin: 0px;
        padding: 0px;
        border: 0 none;
        color: transparent;
        overflow: visible;
      }

      input[type="range"]:focus::-webkit-slider-runnable-track {
        border: transparent;
      }
      input[type="range"]:focus {
        outline: none;
      }

      /* Make the thumbs the same size as your custom sliderthumb.
                they will not be visible but they will be draggable.    */
      input[type="range"]::-ms-thumb {
        @include size(10px);
        border-radius: 0px;
        border: 0 none;
        background-color: transparent;
      }
      input[type="range"]::-moz-range-thumb {
        @include size(10px);
        border-radius: 0px;
        border: 0 none;
        background-color: transparent;
      }
      input[type="range"]::-webkit-slider-thumb {
        @include size(10px);
        border-radius: 0px;
        border: 0 none;
        -webkit-appearance: none;
        background-color: transparent;
      }

      /* microsoft IE10+ and Edge - eliminates default fills before and after thumb */
      input[type="range"]::-ms-fill-lower {
        border: 0 none;
      }
      input[type="range"]::-ms-fill-upper {
        border: 0 none;
      }
      input[type="range"]::-ms-tooltip {
        display: none;
      }
    }

    @include e("group") {
      width: 49%;
    }
  }
}
