//MENU MOBILE

.navmobile {
    @include size(100%);
    position: absolute;
    z-index: -1;

    @include respond-to(sm){
        display: none;
    }

    ul {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        padding: 0 40px;
    }

    &:before {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      content: '';
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8);
      transition: all 500ms ease-in-out;
      // that's all the pen about
      //clip-path: circle(30px at calc(100% - 65px) 65px);
      // for AT
      visibility: hidden;
    }

    // when it gits activated
    &.active{
        z-index: 999;

        &:before {
            visibility: visible;
            // that's all the pen about
            //clip-path: circle(100%);
        }

        ul {
            transition: all 500ms ease-in-out;
            display: block;
        }
    }
}

.btn-nav-mobile {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    right: rem(20);
    top: rem(53);
    width: rem(40);
    height: rem(40);
    border: none;
    border-radius: 6%;
    padding: 0;
    background: transparent;
    line-height: 0.6;
    text-align: center;
    top: 20px !important;

    @include respond-to(sm){
        display: none;
    }

    // making the dividers
    > span {
        // the second divider
        display: inline-block;
        position: relative;
        height: rem(2);
        width: rem(20);
        border-radius: rem(1);
        background: #293335;
        vertical-align: middle;

        // the first & the third dividers
        &:before, &:after {
            display: inline-block;
            position: absolute;
            content: "";
            height: rem(2);
            border-radius: rem(1);
            background: #293335;
            // for the hover state
            transition: all 200ms;
        }
        &:before {
            top: rem(-7);
            left: rem(0);
            width: rem(20);
        }
        &:after {
            top: rem(7);
            left: rem(0);
            width: rem(20);
        }
    }

    // ofcorse we should find a replacement for the focus state but it's not our topic
    &:focus {outline: none}

    &:hover > span:after, &:hover > span:before {
        width: 20px;
        left: 0;
    }

    // when toggled
    &.toggled > span {
        height: 0;
        &:after, &:before {
          top: 0px;
            left: 0;
            width: 20px;
        }
        &:after {
          transform: rotate(-45deg);
          background: #fff;
        }
        &:before {
            transform: rotate(45deg);
            background: #fff;
        }
    }
}