.mq-footer__marquise--cvtt {
    // margin-bottom: 18px;
  }
  
  .mq-empreendimento__info .overlay-link-emp {
    pointer-events: none;
  }
  
  /* NOVO MENU E LGPD COPILADO*/
  .btn-nav-mobile {
    top: 0px;
    z-index: 999999;
  }
  
  @media only screen and (max-width: 760px) {
    .mq-header {
      position: fixed;
    }
  }
  
  
  
  .mq-menu-bar-bg .mq-header-child {
    background-color: transparent;
  }
  
  @media only screen and (min-width: 1023px) {
    .mq-menu-bar-bg .mq-header-child .search {
      background: transparent;
    }
  
    .mq-menu-bar-bg .mq-header-child .search i {
      color: #6e6f72;
      font-size: 30px;
    }
  }
  
  .mq-menu-topbar-bg {
    background-color: #474745;
  }
  
  .mq-menu-topbar-bg .mq-user-btns {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .mq-menu-topbar-bg .mq-user-btns__item {
    border: none;
    background-color: transparent;
  }
  
  .mq-menu-topbar-bg .mq-user-btns__item a {
    color: #636363;
  }
  
  .mq-menu-topbar-bg .mq-user-btns__item a:hover h4 {
    color: #6e6f72;
  }
  
  .mq-menu-topbar-bg .mq-user-btns__item a h4 {
    font-weight: 700;
    color: #636363;
  }
  
  #catapult-cookie-bar {
    margin-bottom: 65px;
  }
  
  @media only screen and (min-width: 1023px) {
    #catapult-cookie-bar {
      margin-bottom: 60px;
    }
  }
  
  .mq-header-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  h1.mq-header-child__logo {
    margin-right: 20px;
  }
  
  .mq-header-child__nav {
    margin-left: auto;
    margin-right: 0px;
    
    @media screen and (min-width: 1200px){
      margin-right: 3px;
    }
  
    i{
      
      color: #636363;
    }
  }
  
  .mq-header {
    padding-top: 0;
   
    top: 0;
    /* required */
    z-index: 9999;
    box-shadow: 0 2px 10px 0 #0000002e;
  
  }
  
  .mq-menu-bar-bg {
    background-color: #474745;
  }
  
  .mq-menu-topbar-bg {
    background-color: #232323;
  }
  
  
  
  .mq-header-child__menu .menu-item a {
    color: #6e6f72;
  }
  
  
  
  .mq-header-child__informacoes h3 {
    color: #a2a2a2;
  }
  
  .mq-menu-topbar-bg .mq-user-btns__item a {
    color: #a2a2a2;
  }
  
  .mq-menu-topbar-bg .mq-user-btns__item a h4 {
    color: #a2a2a2;
  }
  
  .btn-nav-mobile>span,
  .btn-nav-mobile>span:after,
  .btn-nav-mobile>span:before {
    background: #6e6f72;
  }
  
  .btn-nav-mobile.toggled>span:before,
  .btn-nav-mobile.toggled>span:after {
    background: #6e6f72;
  
  }
  
  .mq-header.redu .btn-area-menu {
      color: #858585;
      // background-color: #474745;
      transition: all .3s ease-in;
    }
    
    .btn-area-menu {
      display: flex;
      transition: all .3s ease-in;
      font-weight: 13px;
      color: #858585;
      background-color: none;
  
  
  
  
      font: 600 1rem Montserrat, Arial, helvetica, sans-serif;
      font-size: .9rem;
      align-items: center;
      padding: 10px 15px;
      // margin-left: 20px;
      // border-radius: 20px;
    }
  
    .btn-area-menu i {
      margin-right: 5px;
    }
  
    .btn-area-menu:hover {
      color: #ec6533;
    }
  
    .mq-btn--clear {
      background-color: transparent !important;
      border: 2px solid #d05f30 !important;
      border-radius: 40px !important;
      height: 60px;
    }
  
    .mq-slider__info h3 {
      font-weight: 300;
      color: #fff !important;
    }
  
    .mq-slider__info h2 {
      font-weight: 400 !important;
      font-size: 3rem;
    }
  
    
    .mq-slider__txt{
      .mq-btn--medium{
        width:200px;
        height:50px;
        margin-top: 30px;
      }
    }

    // .mq-empreendimento__info .desc__option {
    //   align-items: center;
    //   text-align: center;
    // }
  
  
    .mq-empreendimento__info .subtitle {
      font-weight: 600 !important;
      text-align: left;
      margin: 0 auto;
      display: flex;
      align-items: center;
      width: 100px;
      color: #6d6d70;
      font-family: 'Darker Grotesque', sans-serif !important;
      font-size: 18px;
  
      @include respond-to(md){
        width: 150px;
      }
    }
  
  
    .mq-empreendimento__info .desc__option--vagas,
    .mq-empreendimento__info .desc__option--suites,
    .mq-empreendimento__info .desc__option--tamanho {
      display: flex;
      align-items: center;
      justify-content: center;
  
      i {
        display: flex;
        align-items: center;
  
        span {
          margin-left: 10px;
        }
      }
    }
  
  
    .mq-slider__info p {
      display: block !important;
      text-transform: uppercase;
      font-size: 20px;
    }
  
    // .mq-empreendimento__info .desc__option--suites {
  
    //   border-right: .0625rem solid #d8d8d8;
    //   border-left: .0625rem solid #d8d8d8;
    // }
  
  
  
  
  
    .mq-icon--front {
      background-color: transparent;
      background-position: center;
      background-size: contain;
      height: 40px;
      width: 40px;
    }
  
  
  
  
  
  
  
  
    @media only screen and (max-width: 767px) {
      .mq-slider {
        height: calc(100vh - 100px);
      }
    }
  
    @media only screen and (min-width: 767px) {
      // .mq-empreendimento__info .subtitle {
      //   font-size: 0.75rem;
      // }
      .mq-slider__info-destaque{
        margin-top: 5rem;
      }
  
      .mq-header.redu .mq-header-child__logo {
        transition: all .3s ease-out;
        flex-basis: 12%;
      }
  
      .mq-header.redu .mq-menu-bar-bg .mq-header-child {
        transition: all .3s ease-out;
        height: 2rem;
      }
  
    }
  
    @media only screen and (min-width: 1200px) {
      .mq-header-child__logo {
        -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
      }
  
      .mq-header-child__menu .menu-item a {
  
        font-size: 1.1rem;
      }
    }
  
    .mq-header-child__nav .menu-item a {
      font-size: 18px !important;
    }

    @media only screen and (min-width: 1023px) {
      .mq-empreendimento__info .desc__option--suites {
        padding-left: 0px;
      }
  
      .mq-header-child__nav {
        -ms-flex-preferred-size: 40%;
        flex-basis: 45%;
      }
  
      .mq-header-child__informacoes {
        -ms-flex-preferred-size: 35%;
        flex-basis: 55%;
      }
    }
  
    @media screen and (max-width: 1200px){
      .mq-header-child__informacoes {
        flex-basis: 75%;
      }
    }
  
    @media only screen and (min-width: 767px) {
      .mq-slider__info p {
        margin: 0 0;
      }
    }
  
  
    /* RODRIGO AJUSTES */
  
    .mq-btn {
      text-transform: none;
    }
  
    .mq-icon {
      // background-image: url('../images/scrollbar-3.png');
      background-color: transparent;
    }
  
    .mq-whatsapp {
      background-image: url('../images/whatsapp.svg');
      background-color: transparent;
    }
  
    .mq-icon--chat {
      background-position: -1.475rem
    }
  
    .mq-icon--bed {
      background-image: url('../images/602388370b9ff5e484ea71cb_Bed.svg');
    }
  
    .mq-icon--metragem {
      background: url('../images/602388370b9ff57d73ea71cf_Ruler.svg') no-repeat;
    }
  
    .mq-icon--parklot {
      background-image: url('../images/602388370b9ff55058ea7294_Car.svg');
    }
  
    .mq-header .mq-header-child__logo {
      transition: all .3s ease-out;
    }
  
    .mq-header .mq-menu-bar-bg .mq-header-child {
      transition: all .3s ease-out;
    }
  
  
    .mq-scrollbar {
      bottom: 0;
      background-color: #5d5d5d;
      backdrop-filter: saturate(200%) blur(5px);
      padding: .3625rem 0;
      float: left;
      border-bottom: 1px solid #797979;
      z-index: 99;
      border-top: 0;
      width: 100%;
      position: fixed;
    }
  
    .mq-header-empreendimentos__title {
      margin-left: 0;
      color:#474745;
      margin-bottom: 19px;
    }
  
    .mq-block-info__content {
      text-align: inherit;
      margin-left: 16px;
    }
  
    .mq-empreendimentos-all__filter {
      margin-top: 0.2625rem;
    }
  
    .mq-header-section-empreendimentos--sala-comercial {
      margin: 3.75rem 0 1.3rem;
    }
  
    .mq-block-info__item {
  
      border-right: .0625rem solid #c3c0be45;
    }
  
    .mq-block-info__content .title,
    .mq-block-info__content .info {
      color: #fff;
      font-weight: 700 !important;
      margin-bottom: -2px;
    }
  
    .mq-btn--orange:hover {
      background-color: #f26523 !important;
      border-color: #f26523 !important;
    }
  
    .mq-icon--empreendimentos,
    .mq-icon--sala-comercial,
    .mq-header-redes .icone-redes {
  
      display: none;
    }
  
    @media only screen and (min-width: 1200px) {
      .mq-header-child__logo {
        -ms-flex-preferred-size: 15%;
        flex-basis: 19%;
      }
    }
  
    @media only screen and (min-width: 767px) {
      .mq-header.redu .mq-header-child__logo {
        transition: all .3s ease-out;
        flex-basis: 15%;
      }
  
      .mq-header.redu .mq-menu-bar-bg .mq-header-child {
        transition: all .3s ease-out;
        height: 4rem;
      }
    }
  
    .mq-btn--saiba-mais {
      background: white;
      color: #6d6d70;
      font-size: 18px;
      padding: 0;
      display: flex;
      align-items: center;
  
      &:hover{
        background: none !important;
        color: #ea805b !important;
      }
    }
  
    .mq-empreendimento__info .informacoes .local {
      color: #ea805b;
      font-weight: 500;
      font-size: 20px;
    }
  
    .mq-empreendimento__info .desc__option--suites {
      border:none;
    }
  
    .mq-btn--saiba-mais:hover {
      background: #afafaf;
      color: #fff;
    }
  
    .mq-empreendimento__info {
      // padding: 1.5rem 1.5rem;
      width:100%;
  
      @media screen and (min-width:800px){
        width:50%;
      }   
    }
  
    .mq-header-section-empreendimentos {
      margin: 2rem 0 2.625rem;
    }
  
    .mq-btn--medium {
      box-shadow: none !important;
      font-weight: 200;
    }
  
    .mq-form-empreendimento__field .emp_field {
      font: 400 1.3rem;
    }
  
    .icone-search {
      display: none;
    }
  
    @media only screen and (min-width: 1200px) {
      .mq-header-suarenda .title {
        font-size: 2.3125rem;
      }
    }
  
    @media only screen and (min-width: 767px) {
      .mq-header-redes__title {
        font-size: 2.0rem;
      }
    }
  
    .mq-header-redes__title {
      margin-left: 0;
    }
  
    .mq-suarenda-form .form-simulador__item input,
    .mq-suarenda-form .form-simulador__item select,
    .mq-suarenda-form .form-simulador__item textarea {
      height: 3.7625rem;
      font-size: 1rem;
    }
  
    .mq-galeria-instagram {
      width: 100%;
      float: left;
      margin: 1.75rem 0 0 !important;
    }
  
    .mq-slider__txt{
      @include respond-to(md){
        margin-left: 70px;
      }
    }
  
    #owl-slider-destaque{
      .owl-controls {
        .owl-prev{
          @include respond-to(md){
            margin-left: 70px ;
          }
        }
        .owl-next{
          @include respond-to(md){
            margin-right: 70px ;
          }
        }
      }
    }
  
    .mq-empreendimentos-all__filter{
      .title{
        font-family: 'Darker Grotesque', sans-serif !important;
        font-size: 20px;
      }
    }


    .mq-slider__txt,
    .btn-area-menu,
    .mq-header-child__menu .menu-item a,
    .mq-header-empreendimentos__title,
    .mq-btn--saiba-mais,
    .mq-block-info__content .title,
    // .mq-empreendimento__info .informacoes .local,
    .mq-btn--saiba-mais,
    .mq-block-info__content .info,
    .mq-form-empreendimento__field .emp_field,
    .mq-header-redes__title,
    .mq-btn--saiba-mais,
    .mq-suarenda-form .form-simulador__item input,
    .mq-suarenda-form .form-simulador__item select,
    .mq-suarenda-form .form-simulador__item textarea,
    .mq-footer-endereco .texto,
    .mq-footer-endereco .end,
    .mq-footer-endereco .btn,
    .mq-footer-endereco .fones .tel {
      font-family: 'Darker Grotesque', sans-serif !important;
    }
  
    .mq-header-child__menu .menu-item a {
      font-weight: 100 !important;
    }
  
    .btn-area-menu {
      font: 0.9rem !important;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 400 !important;
    }
  
    p {
      font-weight: normal !important;
    }
  
    @media only screen and (min-width: 767px) {
      .mq-header-empreendimentos__title {
        font-size: 2.0rem;
        font-weight: 600 !important;
      }
  
      .mq-header-child__menu {
  
        // justify-content: center;
      }
  
      .menu-item {
        padding-right: 20px;
      }
  
      @media only screen and (min-width: 1023px) {
  
        .search {
  
          justify-content: left;
        }
  
        .mq-menu-bar-bg .mq-header-child .search i {
          color: #6e6f72;
          font-size: 25px;
        }
  
        .mq-header-child {
          padding: 1.5625rem 0;
        }
  
        .mq-header-child__informacoes {
          justify-content: center;
  
        }
  
        .mq-slider {
          height: 90vh;
        }
  
  
      }

      .mq-header-child__informacoes a{
        font-size: 16px;
      }
  
      .mq-header-child__informacoes{
        @include respond-to(md){
          // flex-basis:  16  0%;
          
        }
      }
  
      .navmobile.active ul {
        z-index: 100;
        background-color: #0000004f;
        backdrop-filter: saturate(200%) blur(5px);
      }
  
      #hcrmAlertBox {
        z-index: 99 !important;
      }
  
      header.mq-header.redu .mq-menu-bar-bg {
        background-color: #474745;
        backdrop-filter: saturate(200%) blur(5px);
      }
  
  
      a,
      p,
      b,
      strong,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      input {
        font-family: 'Darker Grotesque', sans-serif;
      }
  
  
      .mq-form-empreendimento__field .emp_field {
        color: #454545;
        border-radius: 8px;
        cursor: pointer;
        background: #e5e5e5;
        border:1px solid #d8d8d8;
      }
  
      .mq-btn--medium {
        border-radius: 20px;
        box-shadow: none;
      }
    }
  
    .mq-empreendimento{
      box-shadow: none;
      display: flex;
      justify-content: center;
    }
  
    .mq-empreendimento__info .informacoes{
      display: grid;
      flex-direction: column;
    }
  
    .mq-empreendimento__info .desc{
      flex-direction: column;
    }
  
    .mq-empreendimento__info .desc__option--tamanho .desc__option--vagas {
      border:none;
    }
  
    .mq-empreendimento__info{
      display: grid;
      // flex-direction: row;
      grid-template-columns: 1fr 1fr;
      padding: 30px;
    }
  
    .componente-empreendimentos-new__icons{
      display: flex;
      flex-direction: row;
  
      img{
        width:45px;
        height:45px;
      }
    }
  
    .mq-empreendimento-component__flex{
      padding: 5px;
      border-right: 1px solid #e3e3e3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  
      .title{
        .mq-empreendimento-component__h3{
          font-weight: 600 !important;
          font-size: 27px;
        }
        hr{
          height: 50px;
          width: 1px;
          position: absolute;
          border: 1px solid #e76530;
          left: 0;
          top: 45px;
        }
      }
    }
  
    .icon-seta{
      margin-left: 6px;
      height: 16px;
      width: 25px;
      margin-top: 3px;
    }
  
    .proximities{
      font-family: 'Darker Grotesque', sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #6d6d70;
    }
  
    .space-padding{
      padding-left: 10px;
      padding-right: 10px;
  
      @include respond-to(sm){
        padding-left: 99px;
        padding-right: 99px;
      }
    }
  
    .component-saiba-mais{
      background:none !important;
      color:#474745;
      border: 2px solid #e76530;
      border-radius: 50px !important;
      font-family: 'Darker Grotesque', sans-serif !important;
      font-size: 19px;
      font-weight: 500;
      width: 197px;
      height: 50px;

      &:hover{
        background: #e76530;
        color:#fff;
      }
    }
  
    .pesquisa-menu{
      background: #363636 !important;
      position: absolute;
      right: -20px;
      height: 100%;
      width: 150px;
      padding: 30px;
  
      i{
        margin-right: 5px;
      }
  
      @media screen and (max-width: 1200px){
        width: 100px;
        right: -50px;
      }
  
      @media screen and (max-width: 800px ){
        display:none;
      }
    }
  
  
  //section cidades
  .section-cidades{
    float: left;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .section-cidades-text{
    text-align: center;
    @include respond-to(md){
      text-align: left;
    }
  
    h2{
      font-family: 'Darker Grotesque', sans-serif;
      font-weight: 400 !important;
      font-size: 2.8em;
      color: #474745;
      margin-bottom: 25px;
    }
    p{
      font-size: 1.3rem;
      color: #898988;
      margin-bottom: 25px;
    }
  }
  
  .section-cidades__butom{
    text-decoration: none;
    color: #474745 !important;
    border-radius: 40px;
    font-family: 'Darker Grotesque', sans-serif;
    border: 2px solid #7b7b7b;
    padding: 15px;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 57px;
    transition: 0.2s;
  
    &:hover{
      border: 1px solid #f96419;
      color: #f96419 !important;
    }
  }
  
  .section-cidades-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
  
    @include respond-to(md){
      flex-direction: row;
    }
  
  }
  
  .cidades-card-div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 25px;
    margin-bottom: 5.6rem;
  
    a{
      text-decoration: none;
      color:#000000;
    }
  
    @include respond-to(md){
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  
  .cidades-card{
    background: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    // text-align: center;
  
    .cidades-card__text{
      width:50%;
      margin-left: 30px;
      // font-weight: 200 !important;

      .cidades-card__h3{
        font-size: 1.5em;
        font-family: 'Darker Grotesque',sans-serif !important;
        font-weight: 200 !important;
        margin-bottom: 22px;

        @include respond-to(sm){
          font-size: 2.4em;
        }
      }

      .cidades-card__p{
        font-size: 1.3em;
        font-family: 'Darker Grotesque',sans-serif !important;
        font-weight: 600 !important;

        @include respond-to(sm){
          font-size: 1.2em !important;
        }
      }
  
      @include respond-to(md){
        width:200px;
      }
    }
  
    .cidades-card__thumb{
      width: 50%;
      object-fit: cover;
      height: 200px;
  
      @include respond-to(md){
        width:200px;
      }
    }
  } 
  
  
  //sectin sobre
  
  .mq-section{
    margin-top:0px !important;
  
    @include respond-to(md){
      margin-top:0px !important;
    }
  }
  
  .home-section-sobre{
    float: left;
    width: 100%;
    background: url("../../assets/images/section-sobre.jpg") no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
  
    .home-section__background{
      width: 100%;
      height: 100%;
      position: relative;
      background: linear-gradient(45deg, #000000e3, transparent);
      z-index: 1;
    }
  
    .home-section-sobre-content{
      z-index: 9;
      position: absolute;
      margin-top:5rem;
      width: 97%;
      padding: 10px;
      color: #e4e4e4;
      font-family: 'Darker Grotesque',sans-serif !important;

      @include respond-to(sm){
        width: 500px;
        padding: 0px;
      }
  
      hr{
        border: 1px solid #e76530;
        position: absolute;
        left: -197px;
        top: 76px;
        width: 186px;
      }

      h4{
        font-size: 20px;
      }
  
      h4, h1, p{
        margin-bottom: 15px;
        font-weight: 400 !important;
      }
  
      h1{
        font-size: 3rem;
        strong{
          color:#e76530;
        }
      }
      p{
        line-height: 30px;
        font-size: 19px;
      }
  
      a{
        text-decoration: none;
        color: #c7c9ca;
        font-weight: 600;
        border-radius: 40px;
        border: 1px solid #e76530;
        padding: 15px;
        font-size: 1.1em;
        display: flex;
        justify-content: center;
        align-items:center;
        width:200px;
        height: 50px;
        margin-top:40px;
  
        &:hover{
          background:#e76530;
          color:#fff;
        }
      }
    }
  }
  
  .component-footer{
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
  
    p{
      margin-left: 20px;
      font-size: 18px;
  
      a{
        text-decoration: none;
        color:#e76530;
        text-decoration: underline;
      }
    }
  }
  
  .mq-empreendimento__info .desc__option--vagas, .mq-empreendimento__info .desc__option--tamanho{
    border:none;
  }
  
  .mq-nav-footer__div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
  
    @include respond-to(md){
      flex-direction: row;
      text-align: left;
    }
  
    a{
      text-decoration: none;
      color: #6d6d70;
      margin-top:20px;    
    }
  }
  
  .mq-empreendimento__owl img{
    border-radius: 0px !important;
  }
  
  .mq-footer{
    padding-top: 23px !important;
  }
  
  .section-clip{
    float:left;
    width: 100%;
    background: url('../../assets/images/banner-video.gif') no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
  
    @include respond-to(sm){
      height: 500px;
    }
  
    &::before{
      content: "";
      width: 100%;
      height: 600px;
      position: absolute;
      background: rgba(0,0,0,0.7);
      z-index: 2;
  
      @include respond-to(sm){
        height: 500px;
      }
    
    }
  
    .section-clip-flex{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      z-index: 99; 
      position: relative;
  
      @include respond-to(md){
        flex-direction: row;
      }
  
      .section-clip-text{
        width: 100%;
  
        div{
          background: #bf5428;
          width: 26%;
          height: 2px;
          position: absolute;
          left: -51px;
        }
  
        @include respond-to(md){
          width: 50%;
        }
  
        h2{
          color: #ffffff;
          font-size: 47px;
          margin-bottom: 30px;
          strong{
            color:#e76530;
          }
        }
  
  
        p{
          color: #d9d9d9;
          margin-top:50px;
          font-size: 20px;
        }
      }
  
      .section-clip-video{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
        width: 100%;
  
        @include respond-to(md){
          width: 50%;
        }
  
        @include respond-to(md){
          margin-top: 0px;
        }
  
        a{
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          display: flex;
          border: 2px solid white;
          padding: 24px;
  
          .section-clip-video__play{
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  
  
  }
  
  .search-form-header{
    background: #363636!important;
    position: absolute;
    right: -50px;
    height: 100%;
    width: 150px;
    padding: 20px;
    display: flex;
    align-items: center;
    
    .search-form-header__span{
      margin-left: 12px;
      color: #bfbfbf;
      font-family: 'Darker Grotesque', sans-serif;

    }

    i{
      color:#d9d9d9;
      font-size: 19px !important;
    }
  
  }

  .mq-footer{
    padding-bottom: 0px !important;
  }

  .mq-slider__span{
    color:#fff;
    width: 40px;
    font-size: 18px;
    font-family: 'Darker Grotesque', sans-serif;
  }

  .mp-slider--icon{
    bottom: 10px;
    right: 0;
    cursor: pointer;
    position: fixed;
    background: #454545;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-top: -23px;
    margin-right: 82px;
    z-index: 99;
    display: none;
    align-items: center;
    justify-content: center;
    padding:3px;

    @include respond-to(sm){
      display: flex;
    }

    .mp-slider-icon__span{
      position: absolute;
      top: -3px;
      // top: -10;
      left: 6px;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 50%;
      width: 15px;
      background: red;
    }

    .mp-slider-icon__img{
      width: 40px;
    }
  }

  .section-cidades__icon{
    width: 13px;
    height: 18px;
    margin-right: 12px;
  }

  .modal-contato-icon{
    background: #fff;
    width: 100%;
    height: 572px;
    margin: auto;
    padding: 40px;
    // display: none;

    @include respond-to(sm){
      width: 399px;
      padding: 60px;
    }

    .mfp-close{
      position: relative;
      float: right;
      background: red;
      margin-right: -104px;
      top: -495px;
      display: flex;
      justify-content: center;
      color: #fff;
    }

    .modal-contato-icon__line{
      height: 1px;
      background: #d43f10;
      width: 20%;
    }

    .modal-contato-icon__title{
      font-size: 2.2rem;
      color: #f57c55;
      font-family: 'Darker Grotesque', sans-serif;
      font-weight: 200 !important;
    }

    .modal-contato-icon__h2{
      font-size: 2rem;
      color: #a7a5a5;
      font-family: 'Darker Grotesque', sans-serif;
      font-weight: 200 !important;
    }

    .modal-contato-icon__p{
      color: #a7a5a5;
      font-family: 'Darker Grotesque', sans-serif;
      font-size: 1rem;
    }

    .modal-contato-icon-item{
      border: 2px solid #d0d0d0;
      display: grid;
      grid-template-columns: 1fr 2fr;
      border-radius: 30px;
      height: 55px;
      margin-top: 20px;
      align-items: center;

      &:hover{
        background: #f8f8f8;
      }

      .moda-contato-icon-item__img{
        margin: auto;
      }

      .modal-contato-icon__span{
        color: #4a4a4a;
        font-weight: 500;
      }

      .modal-contato-icon__h3{
        color: #848484;
      }

    }

  }

  .mq-slider__seta{
    width: 30px !important;
  }

  .mp-slider-buttom{
    display: flex;
    font-size: 18px !important;
    justify-content: space-around;
    font-weight: 500;
  }