/*!
* Copyright: 2018 Convertte - http://www.convertte.com.br.
* Desenvolvedor(es): Bruno Kiedis | Convertte
*/



//==========================================================================
// STYLES
//==========================================================================
@import 'vendor/base';
@import 'global/all';
@import 'modules/all';
@import 'partials/base';
@import 'pages/base';
 

.main {
	@extend %boxFull;
    overflow: hidden;
}

#cookie_action_close_header {
    width: 100%
  }

div#cookie-law-info-bar {inset: auto auto 80px 15px !important;box-shadow: 0px 3px 12px 0px #0000004f;padding: 20px 30px!important;}

.#{$prefix}-section{
	$self: &;
	@extend %boxFull;
	margin: rem(90) rem(0);
}

.#{$prefix}-section{

	
	@include m('simulador') {
		background: #ececec;
		padding: rem(30) rem(0);
		margin: rem(0);
		
		@include respond-to(sm) {
			padding: rem(90) rem(0);
		}
	}

	@include m('suarenda') {
		padding: rem(30) rem(0);
		margin: rem(0);
		background: url('../images/suarenda.png') no-repeat;
		background-position: center;
		background-size: cover;
		position: relative;
		
		
		@include respond-to(sm) {
			padding: rem(90) rem(0);
		}

		&:before {
			@include size(100%, 100%);
			content: '';
			position: absolute;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.6));
			top: rem(0);
			z-index: 1;
			
			@include respond-to(sm){
				background: linear-gradient(-200deg, rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.6));
				
			}
		}

	}

	@include m('geo') {
		padding: rem(60) rem(0);
		margin: rem(0);
		background: cl(main, graySlim);
	}
	
	@include m('emp-informacoes') {
		padding: rem(30) rem(0);
		margin: rem(0);
		background: cl(orange);
		position: relative;
		
		@include respond-to(sm) {
			padding: rem(60) rem(0);
		}
	}
	

	@include m('overview') {
		margin: rem(30) rem(0);
		
		@include respond-to(sm) {
			margin: rem(60) rem(0);
		}
	}

	@include m('conceito') {
		margin-bottom: rem(0);
		margin-top: rem(0);
    	padding: 0 rem(15);
		background: #eee;
			
		@include respond-to(sm) {
			margin-top: rem(15);
			padding: 0 rem(40);
		}

		@include respond-to(md) {
			padding: 0;
			margin-top: rem(30);
		}
	}

	@include m('emp-galeria') {
		margin-top: rem(0);
		background: rgb(36, 36, 36);
		margin-bottom: rem(0);
	}
		
	@include m('plantas') {
		margin: rem(30) rem(0);
		
		@include respond-to(sm) {
			margin: rem(60) rem(0);
		}
		
		@include respond-to(md) {
			margin: rem(30) rem(0);
		}
	}

	@include m('ficha') {
		margin: rem(0);
		background: #eee;
		padding: rem(30) rem(0);
		
		@include respond-to(sm) {
			padding: rem(60) rem(0);
		}
	}
	
	@include m('localizacao') {
		background: #333333;
		margin: rem(0);
		padding: rem(30) rem(0) rem(0);
		
		@include respond-to(sm) {
			padding: rem(60) rem(0) rem(0);
		}
	}
	
	@include m('maps') {
		margin: rem(0);
		padding: rem(90) rem(0) rem(0);
		background: white;
	}

	@include m('interesse-form') {
		padding: rem(60) rem(0) rem(20);
		background: #333333;
		position: relative;
		margin: rem(0);
		
		@include respond-to(md) {
			padding: rem(50) rem(0) rem(20);
		}

		&:after {
			content: '';
			background: #333333;
			position: absolute;
			width: 100%;
			height: 120px;
			top: -120px;
		}

	}
}


.#{$prefix}-nada-encontrado {
	display: flex;
	align-items: center;
	
	.icone {
        font-size: rem(60);
		color: #b0b0b0;
		margin-right: rem(15);
    
	}


	.title {
		@include typography(600, 35, $font-default);
		color:#b0b0b0;
	}
}


.popup {
	width: 100%;
    float: left;
    position: fixed;
    height: auto;
    display: block;
    bottom: 40%;
	z-index: 9999;
	
	@include respond-to(sm) {
		bottom: 25%;
	}
	
	.popup-imagem {
		max-width: 87%;
		margin: 0 auto;
		padding: 5px;
		background: #fff;
		display: flex;
		position: relative;
		
		@include respond-to(sm) {
			max-width: 715px;

		}
	}
	.thumb {
		width: 100%;
		object-fit: cover;
		height: 140px;	
		
		@include respond-to(sm) {
			height: 370px;	
		}
	}
}

.close {
	width: 20px;
    height: 20px;
    background: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: arial;
    position: absolute;
	top: -20px;
	cursor: pointer;
    left: 1px;
    float: left;
    font-weight: 800;
    padding: 5px;
}


#hcrmAlertBox {
	bottom: rem(100) $i;
}
@import 'retouchs';