/*------------------
|	BUTTONS
|------------------*/

.#{$prefix}-btn {

	$self: &;
    @include radius(rem(50));
	align-items: center;
	background: cl(btns, primary);
	color: cl(white);
	display: flex;
    font-family: $font-default;
    font-size: rem(16);
    font-weight: 600;
	justify-content: center;
	padding: rem(10);
	text-transform: capitalize;
	width: rem(300);

	&:hover{
		background: darken(cl(btns, primary), 35%);
		transition: all 0.6s;
	}

    
	$mods : white primary orange;
	@each $color in $mods {
        @include m($color){
            background-color: cl(btns, $color) $i;
        	@if $color == white {
                color: cl(white) $i;
            }

            &:hover {
            	background-color: darken(cl(btns, $color), 15%) $i;
            }
        }
    }

    
    @include m('small'){
        width: rem(150);
        padding: rem(10);
    }

    @include m('medium'){
        padding: rem(10);
        max-width: rem(180);
        
        @include respond-to(sm) {
            padding: rem(12);
            max-width: rem(165);

        }
    }

    @include m('large'){
        padding: rem(16);
        width: rem(210);
        
        
        @include respond-to(sm) {
            //padding: rem(25);
            max-width: rem(280);
        }
        
        @include respond-to(md) {
            padding: rem(16);
        }
    }
    
    @include m('auto'){
        padding: rem(10);
        max-width: 100%;
        height: rem(50);
        
        @include respond-to(sm) {
            padding: rem(15);
            max-width: rem(300);

        }
	}

    @include m('disabled'){
        background: #ff9f6b $i;
        color: cl(white) $i;
        pointer-events: none;
        cursor: default;
    }
    
    @include m('tour'){
        height: rem(50);
        width: rem(200);
        text-transform: capitalize;
        
        .icone360 {
            background: url('../images/360.png') no-repeat;
            width: rem(40);
            height: rem(30);
            display: block;
            margin-right: rem(10);
        }
    }
    
    @include m('tabela-large'){
        height: rem(50);
        width: rem(180);
        line-height: 1;
    }

    @include m('tabela'){
        @extend %transitionAll;
        @include typography(800, 13, $font-default);
        background: #d7d7d7;
        color: cl(titles, grayDark);
        padding: rem(9) rem(13);
        border-radius: rem(30);
        

        &:hover {
            background: cl(titles, green);
            color: cl(titles, white);
        }
    }

    @include m('saiba-mais'){
        @extend %transitionAll;
        @include typography(800, 13, $font-default);
        background: #d7d7d7;
        color: cl(titles, grayDark);
        padding: rem(9);
        border-radius: rem(6);
        width: rem(100);

        &:hover {
            background: cl(titles, green);
            color: cl(titles, white);
        }
    }

    @include m('navegar'){
        color: cl(gray) $i;

        &:hover {
            color: cl(orange) $i;
        }
    }
}


