.wpcf7-form .wpcf7-not-valid {
    border: rem(1) solid cl(semantic, error) $i;
}

.wpcf7-form .contactar .wpcf7-not-valid {
    border: 0 $i;
}


.wpcf7-not-valid-tip, .screen-reader-response {
    display: none;
}

.wpcf7-mail-sent-ok {
    background-color: cl(semantic, sucess);
    width: 100%;
    float: left;
    color: #fff;
    text-align: center;
    font-family: 'arial', sans-serif;
    padding: 10px;
    margin-top: 12px;
}

.wpcf7-validation-errors {
    background-color: cl(semantic, error);
}

.wpcf7-mail-sent-ng {
    background-color: cl(semantic, info);
}
.wpcf7-mail-sent-ng, .wpcf7-validation-errors {
	@include typography(100, 16, $font-default);
    bottom: 0;
    color: cl(titles,white);
    display: block $i;
    left: 0;
    margin: 0;
    position: fixed;
    padding: rem(32) rem(0);
    text-align: center;
    width: 100%;
    z-index: 9999; 
}





.modal-title {
    @include typography(600, 25, $font-default);
    color: cl(gray);
    margin: 20px 0 30px;
    text-align: center;
    border-bottom: 1px solid rgba(202, 202, 202, 0.9);
    padding-bottom: 30px;
}

.form-editar, .form-assistencia {
    width: 100%;
    float: left;

    .hidden {
        display: none;
    }

    .form-group {
        display: flex;
        flex-direction: column;

        .control-label {
            @include typography(400, 16, $font-default);
            color: cl(gray);
            width: 100%;
            float: left;
            margin-bottom: 10px;
        }

        @include e('phone') {
            flex-basis: 49%;
        }

        @include e('email') {
            flex-basis: 49%;
        }
        
        @include e('cpf') {
            flex-basis: 49%;
        }

        @include e('rg') {
            flex-basis: 49%;
        }

        @include e('bairro') {
            flex-basis: 49%;
        }
        
        @include e('cep') {
            flex-basis: 49%;
        }
        
        @include e('cidade') {
            flex-basis: 49%;
        }
        
        @include e('uf') {
            flex-basis: 49%;
        }
 
        @include m('col2') {

            @include respond-to(sm) {
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
            }
        }
            
        input, select {
            @include typography(400, 16, $font-default);
            background: cl(main, white);
            border: rem(1) solid #e3e3e3;
            height: rem(50);
            margin-bottom: rem(15);
            padding: rem(15) $i;
            width: 100%;
            height: rem(50);
            border-radius: rem(0) $i;
        }
        
       

        textarea {
            @include typography(100, 16, $font-default);
            background: cl(main, white);
            border: rem(1) solid #e3e3e3;
            height: rem(120);
            padding: rem(15);
            resize: none;
            width: 100%;
            
            
            @include respond-to(sm) {
                height: rem(250);
            }
        }
        
        .btn {  
            @extend %transitionAll;
            @include typography(600, 18, $font-default);
            background: #FF5722;
            border: 0;
            color: #fff;
            cursor: pointer;
            margin-top: rem(15);
            margin-bottom: rem(0);

            &:hover {
                background: #cd3100;
            }
        }
    }
}


.form-assistencia {
    
    .form-group {

        .tipo {
            margin-bottom: 20px;

            .wpcf7-radio {
                display: flex;
                justify-content: space-between;

                .first, .last {
                    display: flex;
                    align-items: center;
                    width: 50%;

                    .wpcf7-list-item-label {
                        @include typography(400, 17, $font-default);
                        color: #454545;
                        margin-left: 10px;
                    }

                    input[type=radio] {
                        width: 20px;
                        margin-bottom: 0;
                    }
                }
                .first {
                }

                .last {
                }
            }   
        }

        .area {

            .wpcf7-list-item  {
                @include typography(400, 17, $font-default);
                display: flex;
                align-items: center;
                color: #454545;

                input[type=checkbox] {
                    width: 20px;
                    margin-right: 15px;
                    margin-bottom: 0;
                }
            }
        }
    }
    
}