.mfp-modal {
  max-width: 100%;

  @include respond-to(sm) {
    width: 87%;
  }
  
  @include respond-to(md) {
    width: 65%;
  }
  
  @include respond-to(lg) {
    width: 42%;
  }

  @include m('formAssistencia') {
    height: auto;
    width: 33%;
    display: flex;
    flex-direction: column;

    .mfp-close {
      right: 5px $i;
      top: 42px $i;
    }
  }

  @include m('formDados') {
    height: auto;
    width: 33%;
    display: flex;
    flex-direction: column;

    .mfp-close {
      right: 5px $i;
      top: 42px $i;
    }
  }

  @include m('emp-mobile') {
    height: auto;
    width: 100%;
    background: white;
    border-radius: 6px;

    .mfp-close {
      right: 5px$i;
      top: 43px$i;
    }

    @include respond-to(sm) {
      width: 50%;
    }
    
    @include respond-to(md) {
      width: 40%;      
    }
    
    @include respond-to(lg) {
      width: 28%;      
    }
  }

  @include m('emp-mobile-cond') {
    height: auto;

    .mfp-close {
      right: 5px$i;
      top: 43px$i;
    }

    
    @include respond-to(md) {
      width: 25%;
    }
  }

  @include m('emp') {
    height: auto;
    width: 25%;
    
    @include respond-to(md) {
      width: 400px;
    }
  }

  @include m('formCliente') {
    height: auto;
    background: #fff;
    width: 100%;
    max-width: 300px;

    .mfp-close {
      right: 0 $i;
    }
  }

  @include m('video') {
    height: auto;
    background: #000;
  }

  .mfp-close {
    color: cl(white) $i;
    margin-top: -38px;
    font-size: 35px;
    background: cl(orange);
    width: 35px;
    height: 35px;
    line-height: 1;
    right: 2px;
    top: 3px;
  }

}

.youtube__iframe {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: rem(25);
    height: 0;
    z-index: 99;

    &.load {
      background: cl(black);
    }
}

.youtube__iframe iframe {
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.mfp-title {
  @include typography(400, 16, $font-default);
}