.postnav {
    width: 100%;

    @include e('pag') {

        display: none;

        @include respond-to(sm) {
            display: block
        }

    }

    @include e('wp') {
        display: block;

        @include respond-to(sm) {
            display: none;
        }
    }

    @include e('item') {
        display: inline-block;
        color: cl(white);
        background: cl(white);
        padding: rem(25);
        text-align: center;

        a {
            color: cl(white);
        }

        @include m('disable') {
            pointer-events: none;
            cursor: default;
            opacity: 0.2;
        }
    }
}

.wp-pagenavi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a, span {
        color: cl(blue);
        background-color: cl(white);
        border-radius: 3px;
        padding: 8px 12px;
        margin-right: 5px;

        &:hover {
           border: 1px solid #0074d0;
        }

        &.current { 
            color: cl(white);
            background-color: #002f6a;
            cursor: pointer;
            border: 0;
            border-radius: 3px;

            &:hover {
                color: cl(white);
                background-color: cl(blueDark);
            }

            &:after {
                display: none;
            }
        }
    }

    .pages, .last {
        display: none;
    }
}

.navwp {
    max-width: rem(500);
    width: 100%;
    margin: 0 auto;
}

.btn-wrap {

    text-align: center;
    margin-top: rem(20);

    > .btn {
        background: cl(blueDark);
        color: cl(white);
    }
}

