.#{$prefix}-banner-empreendimentos {
  @extend %boxFull;
  position: relative;
  height: 80vh;

  &:before {
    @include size(100%, 100%);
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: rem(0);
    z-index: 1;
  }

  @include e("img") {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
  }

  @include e("info-destaque") {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include e("infos") {
    position: relative;
    text-align: center;
    z-index: 9;
    width: 100%;
    padding: 0 12px;
    
    @include respond-to(sm) {
      padding: 0 15px;
      margin-top: 70px;
    }
  }

  @include e("top-title") {
    @include typography(600, 25, $font-default);
    color: cl(titles, white);
    text-transform: uppercase;
    margin-bottom: 5px;
    
    @include respond-to(sm) {
      font-size: rem(40);
      margin-bottom: rem(15);
    }
  }

  @include e("title-destaque") {
    @include typography(100, 20, $font-default);
    color: cl(titles, white);
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    line-height: 1;
    
    @include respond-to(sm) {
      font-size: rem(30);
      max-width: 960px;
      margin: 0 auto;
    }

    @include respond-to(md) {}

    strong {
      @include typography(800, 23, $font-default);
      color: cl(titles, orange);
      line-height: 1;
      margin-top: rem(10);

      @include respond-to(sm) {
        font-size: rem(40);
      }

      @include respond-to(md) {
        font-size: rem(45);
      }
    }
  }
}


//MAPS

.wrap-mapa {
  width: 100%;
  float: left;
  position: relative;

  
  .map_mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.85);
    top: 0;
    z-index: 99;
  }

  .signal {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,100%);
    -moz-transform: translate(-50%,100%);
    -ms-transform: translate(-50%,100%);
    -o-transform: translate(-50%,100%);
    transform: translate(-50%,100%);
  }
}
.#{$prefix}-bg-mapa {
  width: 100%;
  float: left;


  @include e('title') {
    @include typography(800, 20, $font-default);
    color: #ee651a;
    margin-bottom: rem(10);
    min-width: 150px;
  }
  

  @include e('end') {
    font: 600 rem(12) Montserrat,Arial,helvetica,sans-serif;
    color: black;
    
  }
}

#bodyContent > p > a {float: left;margin-top: 15px;}
#bodyContent a {
  font: 600 rem(12) Montserrat,Arial,helvetica,sans-serif;
    border-radius: 1.875rem;
    background: #ee651a;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: rem(40);
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px 30px;
    transition: all .6s;
    text-transform: uppercase;
    width: auto;
}


#map {
  overflow: hidden;
}