.#{$prefix}-clientes {
  @include e("form") {
    width: 100%;
    margin-bottom: rem(30);

  

    .wpcf7-mail-sent-ng {
      @include typography(100, 20, $font-default);
      background: cl(semantic, warning);
      border-radius: rem(4);
      color: cl(titles, white);
      max-width: 98%;
      margin: rem(30) auto 0;
      padding: rem(20);
      text-align: center;
    }

    .title-terreno {
      @include typography(800, 20, $font-default);
      color: cl(titles, orange);
      margin-bottom: rem(30);
    }

    .form-group {
      display: flex;
      flex-direction: column;

      .title-tipo {
        @include typography(600, 22, $font-default);
        color: cl(titles, gray);
      }

      .tipo-pessoa,
      .tipo-contato {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        .checkbox-opcoes {
          width: 100%;
          flex-direction: column;
          display: flex;
          justify-content: space-between;
        }
      }

      .fields-ocultos {
        display: none;
      }

      @include e("mail") {
        flex-basis: 49%;
      }

      @include e("phone") {
        flex-basis: 49%;
      }

      @include e("creci") {
        flex-basis: 49%;
      }

      @include e("bairro") {
        flex-basis: 49%;
      }

      @include e("cep") {
        flex-basis: 49%;
      }

      @include e("cidade") {
        flex-basis: 49%;
      }

      @include e("estado") {
        flex-basis: 49%;
      }


      @include e("empreend") {
        flex-basis: 49%;
      }

      @include e("torre") {
        flex-basis: 28%;
      }

      @include e("unidade") {
        flex-basis: 19%;
      }

      @include m("checks") {
        align-items: flex-start $i;
        margin: rem(30) rem(0);
      }

      @include m("col2") {
        @include respond-to(sm) {
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
        }
      }

     

      .upload-file {
        position: relative;
        display: flex;
        align-items: center;

        label {
          @include typography(100, 16, $font-default);
          color: cl(titles, gray);
          position: absolute;
          left: rem(20);
          top: rem(16);

          i {
            margin-right: rem(10);
            font-size: rem(20);
          }
        }

        .file {
          width: 100%;
          height: rem(50);
          margin-bottom: 15px;
          background: cl(main, white);
          border: rem(1) solid #e3e3e3;
          cursor: pointer;

          #field-curriculum,
          #metricula-terreno {
            position: relative;
            opacity: 0;
            filter: alpha(opacity=0);
            -o-transform: translate(250px, -50px) scale(1);
            -moz-transform: translate(-300px, 0) scale(4);
            direction: ltr;
            cursor: pointer;
          }
        }
      }

      input,
      select {
        @include typography(100, 16, $font-default);
        background: cl(main, white);
        border:none;
        border-bottom: rem(1) solid #e3e3e3;
        margin-bottom: rem(15);
        padding: rem(15);
        width: 100%;
        height: rem(55);
        border-radius: 0;
        color:#6e6e6e;
      }

      textarea {
        @include typography(100, 16, $font-default);
        background: cl(main, white);
        border: rem(1) solid #e3e3e3;
        height: rem(120);
        padding: rem(15);
        resize: none;
        width: 100%;

        @include respond-to(sm) {
          height: rem(250);
        }
      }

      input[type="checkbox"] {
        display: inline-block;
        width: rem(37);
        margin-bottom: rem(0);
        margin-right: rem(12);

        @include respond-to(sm) {
          width: rem(23);
        }
      }

      input[type="radio"] {
        margin-right: rem(12);
        margin-bottom: rem(0);
        width: rem(22);
        height: 18px;
        margin: 15px 7px 15px 0;

        @include respond-to(sm) {
          width: rem(23);
        }
      }

      button[type="submit"] {
        @include typography(800, 18, $font-default);
        align-items: center;
        border: rem(0);
        background: none;
        cursor: pointer;
        color: #6e6e6e;
        border:2px solid #e76530;
        display: flex;
        height: rem(52);
        justify-content: center;
        padding: rem(16);
        text-transform: capitalize;
        transition: all 0.6s;
        height: rem(50);
        border-radius: 20px;
        width: 100%;

        @include respond-to(sm) {
          width: rem(160);
        }

        @include respond-to(md) {
          padding: rem(15);
        }

        &:hover {
          background: #e76530;
          color: #fff;
        }

        span {
          margin-left: rem(10);
        }
      }

      .checkpattern2 {
        @include typography(100, 16, $font-default);
        align-items: baseline;
        color: #6e6e6e;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: rem(15) 0;

        @include respond-to(sm) {
          align-items: center;
          flex-direction: row;
          font-size: rem(20);
        }

        h3 {
          @include typography(100, 18, $font-default);
        }

        .checkbox {
          width: 100%;

          @include respond-to(sm) {
            width: auto;
          }

          .wpcf7-list-item-label {
            @include typography(500, 12, $font-default);

            @include respond-to(sm) {
              font-size: rem(18);
            }
          }
        }
      }

      .wpcf7-list-item {
        @include typography(100, 20, $font-default);
        align-items: center;
        display: flex;
      }
    }
  }
}

.banner-client{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .title{
    font-weight: 200 !important;
  }
}