.#{$prefix}-banner-simulacao {
  @extend %boxFull;
  position: relative;
  height: rem(350);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  
  
  @include respond-to(sm) {
    height: rem(620);
  }

  @include respond-to(md) {
    height: rem(700);
  }
  
  @include respond-to(lg) {
    height: rem(800);
  }

  &:before {
    @include size(100%, 100%);
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: rem(0);
    z-index: 1;
  }

  @include e('wrap') {
    width: 100%;

    @include respond-to(md) {
      margin-top: rem(90);
    }
  }

 
  @include e("title-destaque") {
    @include typography(600, 20, $font-default);
    color: cl(titles, white);

    @include respond-to(sm) {
      font-size: rem(30)
    }
  }

  @include e("title") {
    @include typography(600, 16, $font-default);
    color: cl(titles, white);
    margin: rem(15) rem(0);
    
    @include respond-to(sm) {
      font-size: rem(27);
    }
    
    @include respond-to(md) {
      font-size: rem(35);
    }
  }
    
  @include e("content") {
    @include typography(100, 16, $font-default);
    color: cl(titles, white);
    margin: 0 auto;
    margin-bottom: rem(35);
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 9;
    
    @include respond-to(sm) {
      max-width: 90%;
      margin-bottom: rem(0);  
    }
    
    @include respond-to(md) {
      max-width: 70%;
    }
  }
}




.#{$prefix}-page {
  @extend %boxFull;
  min-height: 650px;

  @include m("emp-destalhes") {
    background: cl(main, white);
  }
}

.#{$prefix}-banner {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: auto;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  
  @include respond-to(sm) {
    height: 100vh;
  }
  
  &:before {
    @include size(100%, 100%);
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: rem(0);
    z-index: 1;
  }

  @include e('wrap') {
    width: 100%;
  }

  @include e("info-destaque") {
    width: 100%;
    flex-basis: 55%;
  }

  @include e("info") {
    display: none;
    
    @include respond-to(md) {
      display: block;
      flex-basis: 60%;
    }
  }
  
  @include e("content") {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 9;

   

    @include m("emp") {
      align-items: center;
      justify-content: space-between;
      text-align: left;
      flex-direction: column;

      @include respond-to(md) {
        flex-direction: row;
      }
    }

    .top-title {
      @include typography(600, 20, $font-default);
      color: cl(titles, white);
      text-transform: uppercase;
    }

    .title {
      @include typography(400, 25, $font-default);
      color: cl(titles, white);
      margin-bottom: rem(15);

      @include m("medium") {
        font-size: rem(20);
        @include respond-to(md) {
          font-size: rem(40);
        }
        @include respond-to(lg) {
          font-size: rem(45);
          max-width: 80%;
          line-height: 1;
        }
      }

      @include m("empreendimento") {
        font-size: rem(40);
      }
    }

    .desc {
      @include typography(100, 18, $font-default);
      color: cl(titles, white);
    }

    .icone {
      font-size: rem(60);
      color: white;
      animation: move 3s infinite;
      animation-timing-function: ease-in-out;
    }
    .sobre {
      display: none;

      @include respond-to(sm) {
        @include typography(100, 23, $font-default);
        color: cl(titles, white);
        line-height: rem(30);
      }

      @include respond-to(md) {
        display: block;
        font-size: rem(20);
      }
    }

    .local {
      @include typography(400, 20, $font-default);
      color: cl(titles, white);
      text-transform: uppercase;
      margin: rem(0);
    }

    .descricao {
      @include typography(100, 20, $font-default);
      color: cl(titles, white);
      line-height: rem(30);
      margin-bottom: rem(15);
      
      @include respond-to(sm) {
        display: none;
      }
      
      @include respond-to(md) {
        display: block;
      }
    }

    .btns {
      width: 100%;
      float: left;
      display: flex;

      @include e('popup') {
        width: 200px;
        height: 50px;
        float: left;
      }
    }
  }

  @include e("form") {
    display: none;

    @include respond-to(lg) {
      flex-basis: 30%;
      display: block;
    }
  }

  @include m("medium") {
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    
    @include respond-to(sm)  {
      height: rem(800);
    }
  }

  @include m("sobre") {
    justify-content: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    
    @include respond-to(sm) {
      height: 800px;
    }

    
  }
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}



// Pagina de sucesso.
.#{$prefix}-banner-sucesso {
  @extend %boxFull;
  position: relative;
  height: rem(550);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
    
  @include respond-to(sm) {
    height: rem(800);
  }

  &:before {
    @include size(100%, 100%);
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: rem(0);
    z-index: 1;
  }

  .img {
    position: relative;
    z-index: 0;
  }
  
  @include e('wrap') {
    width: 100%;
    float: left;
    position: absolute;

    @include respond-to(md) {
      margin-top: rem(90);
    }
  }
    
 
  @include e("title-destaque") {
    @include typography(600, 20, $font-default);
    color: cl(titles, white);

    @include respond-to(sm) {
      font-size: rem(30)
    }
  }

  @include e("title") {
    @include typography(600, 25, $font-default);
    color: cl(titles, white);
    margin: rem(15) rem(0);

    @include respond-to(sm) {
      font-size: rem(40);
    }
  }
    
  @include e("content") {
    @include typography(100, 16, $font-default);
    color: cl(titles, white);
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 9;

    @include respond-to(sm) {
      max-width: 90%;

    }
  }
}
