.#{$prefix}-banner-contato {
    position: relative;
    background-position: center;
    background-size: cover;
    height: rem(350);
    justify-content: center;
    display: flex;
    align-items: center;
    
    @include respond-to(sm) {
        height: rem(480);
    }

    @include respond-to(md) {
        height: rem(550);
    }

    @include respond-to(lg) {
        height: rem(800);
    }

    &:before {
        @include size(100%, 100%);
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: rem(0);
        z-index: 1;
    }

    @include e("content") {
        align-items: baseline;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 9;
        align-items: center;

        @include respond-to(sm) {
            max-width: 90%;
            margin: 0 auto;
            margin-top: rem(80);
        }

        @include respond-to(md) {
            text-align: center;
        }

        .title {
            @include typography(600, 30, $font-default);
            color: cl(titles, white);
            text-align: center;
            line-height: 1;

            @include respond-to(sm) {
                font-size: rem(40);
            }
        }

        .desc {
            @include typography(100, 16, $font-default);
            color: cl(titles, white);
            text-align: center;
            line-height: rem(25);
            margin-top: rem(30);
        }
    }
}


.#{$prefix}-contato-opcoes  {
    width: 100%;
    float: left;
}


.#{$prefix}-area-formulario {
    margin: rem(60) rem(0);
}


.#{$prefix}-info-contato {
    width: 100%;
    float: left;

}




.#{$prefix}-geo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;

    @include respond-to(md) {
        flex-direction: row;
    }

    @include e('form') {
        width: 100%;
        margin-bottom: rem(30);
        
        
        @include respond-to(md){
            width: 52%;
            margin-bottom: 0;
        }

        .wpcf7-mail-sent-ng {
            @include typography(100, 20, $font-default);
            background: cl(semantic, warning);
            border-radius: rem(4);
            color: cl(titles, white);
            max-width: 98%;
            margin: rem(30) auto 0;
            padding: rem(20);
            text-align: center;
        }

        .title-terreno {
            @include typography(800, 20, $font-default);
            color: cl(titles, orange);
            margin-bottom: rem(30);
        }

        .form-group {
            display: flex;
            flex-direction: column;
            
            .title-tipo {
                @include typography(600, 22, $font-default);
                color: cl(titles, gray);
            }

            .tipo-pessoa, .tipo-contato {
                width: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                .checkbox-opcoes {
                    width: 100%;
                    flex-direction: column;
                    display: flex;
                    justify-content: space-between;
                }
            }

            .fields-ocultos {
                display: none;
            }

            @include e('mail') {
                flex-basis: 49%;
            }

            @include e('phone') {
                flex-basis: 49%;
            }
            
            @include e('creci') {
                flex-basis: 49%;
            }

            @include e('bairro') {
                flex-basis: 49%;
            }
            
            @include e('cep') {
                flex-basis: 49%;
            }
            
            @include e('cidade') {
                flex-basis: 49%;
            }
            
            @include e('estado') {
                flex-basis: 49%;
            }
            
           
            
            @include m('checks') {
                align-items: flex-start $i;
                margin: rem(30) rem(0);
            }

            @include m('col2') {

                @include respond-to(sm) {
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
            
            .upload-file {
                position: relative;
                display: flex;
                align-items: center;
                

                label {
                    @include typography(100, 16, $font-default);
                    color: cl(titles, gray);
                    position: absolute;
                    left: rem(20);
                    top: rem(16);

                    i {
                        margin-right: rem(10);
                        font-size: rem(20);
                    }
                }

                .file {
                    width: 100%;
                    height: rem(50);
                    margin-bottom: 15px;
                    background: cl(main, white);
                    border: rem(1) solid #e3e3e3;
                    cursor: pointer;

                    #field-curriculum, #metricula-terreno {
                        position: relative;
                        opacity: 0.0;
                        filter: alpha(opacity=0);
                        -o-transform: translate(250px, -50px) scale(1);
                        -moz-transform: translate(-300px, 0) scale(4);
                        direction: ltr;
                        cursor: pointer;
                    }
                }
            }

            

            input, select {
                @include typography(100, 16, $font-default);
                background: cl(main, white);
                border: rem(1) solid #e3e3e3;
                margin-bottom: rem(15);
                padding: rem(15);
                width: 100%;
                height: rem(55);
                border-radius: 0;
            }
            
            textarea {
                @include typography(100, 16, $font-default);
                background: cl(main, white);
                border: rem(1) solid #e3e3e3;
                height: rem(120);
                padding: rem(15);
                resize: none;
                width: 100%;
                
                
                @include respond-to(sm) {
                    height: rem(250);
                }
            }

            input[type="checkbox"] {
                display: inline-block;
                width: rem(37);
                margin-bottom: rem(0);
                margin-right: rem(12);

                @include respond-to(sm) {
                    width: rem(23);
                }
            }
            
            input[type="radio"] {
                margin-right: rem(12);
                margin-bottom: rem(0);
                width: rem(22);
                height: 18px;
                margin: 15px 7px 15px 0;
                
                @include respond-to(sm) {
                    width: rem(23);
                }
            }

            button[type="submit"] {
                @include typography( 800, 18, $font-default );
                align-items: center;
                border: rem(0);
                background: green;
                cursor: pointer;
                color: cl(titles, white);
                display: flex;
                height: rem(52);
                justify-content: center;
                padding: rem(16);
                text-transform: capitalize;
                transition: all 0.6s;
                height: rem(50);
                border-radius: rem(30);
                width: 100%;
                
                @include respond-to(sm) {
                    width: rem(160);
                }

                @include respond-to(md) {
                    padding: rem(15);
                }
                
                &:hover {
                    background: cl(titles, green);
                }

                span {
                    margin-left: rem(10);
                }
            }

            .checkpattern2 {
                @include typography( 100, 16, $font-default );
                align-items: baseline;
                color: cl(gray);
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                margin: rem(15) 0;
                
                @include respond-to(sm) {
                    align-items: center;
                    flex-direction: row;
                    font-size: rem(20);
                }
                
                h3 {
                    @include typography( 100, 18, $font-default );
                }

                .checkbox {
                    width: 100%;
                    
                    @include respond-to(sm) {
                        width: auto;

                    }

                    .wpcf7-list-item-label {
                        @include typography( 500, 12, $font-default );

                        @include respond-to(sm) {
                            font-size: rem(18);
                        }
                    }
                }
            }

            .wpcf7-list-item {
                @include typography( 100, 20, $font-default );
                align-items: center;
                display: flex;
            }
        }
    }

    @include e('txt') {
        @include typography(500, 16, $font-default);
        color: cl(titles, grayDark);
        text-align: center;
        margin-top: rem(15);
        max-width: 100%;
        
        @include respond-to(sm) {
            text-align: left;
            margin-top: rem(0);
            font-size: rem(16);
        }
        
        @include respond-to(md) {
            text-align: center;
            font-size: rem(15);
        }
        
        span {
            display: flex;
            text-align: center;
            
            @include respond-to(sm) {
                text-align: left;
            }

            @include respond-to(md) {
                //margin-left: rem(10);
                text-align: left;
            }
        }
    }

    @include e('maps') {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        
        @include respond-to(sm) {
            align-items: center;
        }

        @include respond-to(md) {
            width: 45%;
        }
        
    }
    
    @include e('iframe') {
        width: 100%;
        height: rem(260);

        @include respond-to(sm) {
            height: rem(400);
        }

        @include respond-to(md) {
            height: rem(420);
        }


        @include respond-to(lg) {
            height: rem(470);
        }
    }


    @include e('endereco') {
        width: 100%;
        float: left;
        display: flex;
        margin: rem(30) rem(0);

        @include respond-to(sm) {
            justify-content: center;
        }
    }
    
    @include e('btns-options') {
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;

        .btn-geo {
            @include typography(100, 15, $font-default);
            transition: all 0.6s;
            background: #2b2b2b;
            color: cl(titles, white);
            width: rem(160);
            text-align: center;
            border-radius: rem(25);
            height: rem(45);
            padding: rem(13);

            &:hover {
                background: cl(btns, gray);
            }   

            @include m('maps') {
                margin-right: rem(15);
            }
        }
    }
    
}


.#{$prefix}-geo-icon {
    width: rem(50);
    height: rem(40);
    display: inline-block;
    text-align: center;

    @include m('phone') {
        background: url(../images/phone.png) no-repeat;
    }

    @include m('support') {
        background: url(../images/support.png) no-repeat;
    }

    @include m('chat') {
        background: url(../images/chat.png) no-repeat;
    }

    @include m('mail') {
        background: url(../images/mail.png) no-repeat;
        height: rem(29);
    }

    @include m('local') {
        display: none;
        background: url(../images/local.png) no-repeat;
        width: rem(31);
        margin-right: rem(15);
    @include respond-to(md){
display: block;
    }   
 }
}



.#{$prefix}-destaque-whats {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    margin: rem(40) rem(0);


    @include e('btn') {
        margin: rem(0) rem(5);
        color: cl(titles, grayDark);
        display: flex;
        align-items: center;
        
        .icone {
            @extend %transitionAll;
            font-size: rem(30);
            margin-right: rem(10);
            color: #fff;
            background: #53cd6b;
            border-radius: 40px;
            padding: 13px 15px;
        }

        &:hover {

            .icone {
                background: #3d9e50;
            }
        }
    }
    
    @include e('title') {
        @include typography(400, 20, $font-default);
        span {
            font-weight: 800;
            display: block;
        }
    }
}

.#{$prefix}-geo-options {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: rem(35);


    @include respond-to(sm) {
        flex-direction: row;
    }


    @include e('link') {
        width: 49%;    
        margin-bottom: rem(6);
        
        @include respond-to(sm) {
            flex-basis: 23%;
        }
    }

    @include e('item') {
        @extend %transitionAll;
        align-items: center;
        background: cl(main, white);
        border-radius: rem(6);
        border: rem(1) solid #ccc;
        display: flex;
        flex-direction: column;
        flex-basis: 23%;
        height: rem(140);
        justify-content: center;
        
        @include respond-to(sm) {
            height: rem(150);
        }

        @include respond-to(md) {
            height: rem(200);
            margin-bottom: rem(0);
        }

        .title {
            @include typography(600, 16, $font-default);
            color: cl(titles, grayDark);
            text-align: center;
            margin-top: rem(15);

            @include respond-to(sm) {
                font-size: rem(15)
            }

            @include respond-to(md) {
                font-size: rem(20)
            }
        }

        &:hover {
            background: rgba(40, 40, 40, 0.08);
        }
    }
}

// SECTION FORM
.#{$prefix}-trabalhe-conosco-form {
    width: 100%;
    float: left;
    margin: rem(30) rem(0);

    @include respond-to(sm) {
        margin: rem(60) rem(0);
    }
}

.#{$prefix}-header-geo {
    margin-bottom: rem(30);
    
    @include respond-to(sm) {
        margin-bottom: rem(60);
    }

    .title {
        @include typography(700, 25, $font-default);
        color: cl(titles, grayDark);
        text-align: center;
        margin-bottom: rem(15);
        
        @include respond-to(sm) {
            font-size: rem(35);
            text-align: left;
            margin-bottom: rem(0);
        }
    }

    .desc {
        @include typography(600, 20, $font-default);
        color: cl(orange);
        text-align: center;

        @include respond-to(sm) {
            text-align: left;
        }
    }
}

.#{$prefix}-contato-geo {
    margin: rem(30) rem(0);
    
    @include respond-to(sm) {
        margin: rem(60) rem(0);
    }
}

// INFORMAÇÕES
.#{$prefix}-informacoes {
    margin-bottom: rem(30);

    @include respond-to(sm) {
        margin-bottom: rem(90);
    }

    @include e('head') {
        @include typography(500, 16, $font-default);
        color: cl(titles, grayDark);
        
        .border {
            border: rem(5) solid cl(titles, orange);
            background: cl(orange);
            width: rem(100);
            margin: 0 auto;
            
            @include respond-to(sm) {
                margin: inherit;
            }
        }

        .title {
            @include typography(500, 17, $font-default);
            color: cl(titles, grayDark);
            margin-top: rem(15);
            text-align: center;
            
            @include respond-to(sm) {
                font-size: rem(25);
                text-align: left;
            }
        }
        
        .subtitle {
            @include typography(800, 17, $font-default);
            margin-top: rem(15);
            text-align: center;
            color: cl(titles, grayDark);

            @include respond-to(sm) {
                text-align: left;
            }
        }
    }

    @include e('sugestao') {
        border: rem(1) solid #ccc;
        border-radius: rem(6);
        background: cl(main, white);
        padding: rem(20);
        
        @include respond-to(sm) {
            padding: rem(40);
        }

    }
}

.#{$prefix}-informacoes-geral {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: rem(15);

    @include e('option') {
        display: flex;
        align-items: center;
        margin: rem(15) rem(0);
        flex-direction: column;
        width: 100%;
        
        @include respond-to(sm) {
            margin: rem(40) rem(0);
            width: rem(210);
        }
        
        @include respond-to(lg) {
            width: rem(274);
        }

        &:last-child() {
            margin-bottom: rem(0);
        }
    }
}


.#{$prefix}-btn-curriculum {
    background: #f04f23;
    padding: 16px 25px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px $i;
    float: left;
}