.#{$prefix}-banner-institucional {
    @extend %boxFull;
    position: relative;
    height: rem(550);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
    
    @include respond-to(sm) {
        height: rem(800);
    }

    &:before {
        @include size(100%, 100%);
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: rem(0);
        z-index: 1;
    }

    @include e('wrap') {
        width: 100%;

        @include respond-to(md) {
            margin-top: rem(90);
        }
    }
    
 
    @include e("title-destaque") {
        @include typography(600, 20, $font-default);
        color: cl(titles, white);

        @include respond-to(sm) {
            font-size: rem(30)
        }
    }

    @include e("title") {
        @include typography(600, 25, $font-default);
        color: cl(titles, white);
        margin: rem(15) rem(0);
        
        @include respond-to(sm) {
            font-size: rem(40);
        }
    }
    
    @include e("content") {
        @include typography(100, 16, $font-default);
        color: cl(titles, white);
        margin: 0 auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        z-index: 9;
        
        @include respond-to(sm) {
            max-width: 90%;

        }
    }
}



.#{$prefix}-sobre {
    width: 100%;
    float: left;
    margin: rem(30) rem(0);
    
    
    @include respond-to(sm) {
        margin: rem(60) rem(0);
    }
    
    @include respond-to(md) {
        margin: rem(90) rem(0);
    }
    
    @include e('content') {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        @include respond-to(lg) {
            flex-direction: row;
        }
   
        .thumb {
            flex-basis: 50%;
            position: relative;
            margin-bottom: rem(30);
            
            @include respond-to(md) {
                height: rem(390);
            }
            
            @include respond-to(lg) {
                margin-bottom: rem(0);
                height: rem(520);
            }

            a {
                font-size: rem(0);
            }

            img {
                max-width: 100%;
                object-fit: cover;
                height: 100%;
            }

            .play {
                
                &:before {
                    @include size(100%, 100%);
                    background: url(../images/play.png) no-repeat;
                    background-position: center;
                    background-size: 21%;
                    content: '';
                    position: absolute;
                    top: rem(0);            
                    z-index: 1;
                    
                    @include respond-to(sm) {
                        background-size: 15%;

                    }

                    @include respond-to(md) {
                        background-size: 12%;
                    }
                }
            }
        }
        
        .legend {
            flex-basis: 47%;
            display: flex;
            flex-direction: column;

            .title {
                @include typography(700, 29, $font-default);
                color: cl(titles, orange);
            }

            .txt {
                @include typography(100, 18, $font-default);
                color: cl(titles, gray);
                line-height: rem(30);
                margin-top: rem(30);
            }
        }
    }

}


.#{$prefix}-certificacoes {
    width: 100%;
    float: left;
    padding: rem(30) rem(0);
    background: cl(main,graySlim);
    
    @include respond-to(sm) {
        padding: rem(60) rem(0);
    }
    
    @include respond-to(md) {
        padding: rem(90) rem(0);
    }

    @include e('header') {
        width: 100%;
        float: left;
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
        
        @include respond-to (sm) {
            align-items: center;
        }

        img {
            height: rem(61);
            object-fit: contain;
            width: rem(50);
            
            @include respond-to (sm) {
                width: rem(61);
            }
        }

        .title {
            @include typography(700, 29, $font-default);
            color: cl(titles, orange);
            margin: rem(15) 0;
            
            @include respond-to (sm) {
                margin: rem(30) 0;
                font-size: rem(35);

            }
        }
    }

    .cert-lista {
        margin-top: rem(20);
        width: 100%;
        float: left;
        
        @include respond-to (sm) {
            margin-top: rem(40);
        }
        ul {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            
            li {
                @include typography(100, 16, $font-default);
                margin-bottom: 40px;
                padding: 22px 10px;
                position: relative;
                line-height: 30px;
                border: 1px solid #eaeaea;
                background: cl(main, white);
                
                @include respond-to (sm) {
                    flex-basis: 47%;
                    font-size: rem(20);
                    margin: rem(10);
                }
                
                @include respond-to (md) {
                    flex-basis: 30%;
                    font-size: rem(17);
                    margin: rem(15);
                }
                
                @include respond-to (lg) {
                    flex-basis: 31%;
                    font-size: rem(20);
                    margin: rem(10);
                }

                &:before {
                    content: '';
                    border: rem(2) solid cl(orange);
                    width: rem(100);
                    position: absolute;
                    bottom: rem(-4);
                    left: 0;
                }
            }
        }
    }
}


.#{$prefix}-objetivos {
    width: 100%;
    float: left;
    background: cl(orange);
    padding: rem(30) rem(0);
    
    @include respond-to(sm) {
        padding: rem(60) rem(0);
    }
    
    @include respond-to(md) {
        padding: rem(90) rem(0);
    }
}


.#{$prefix}-obj {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    @include respond-to (sm) {
        flex-direction: row;
    }

    @include e('tipo') {
        flex-basis: 30%;
        text-align: center;
        margin-bottom: rem(40);
        
        @include respond-to (sm) {
            text-align: left;
            margin-bottom: rem(0);
        }

        .thumb {

            img {
                width: auto;
                margin: 0 auto;
            }
        }

        .title {
            @include typography(700, 29, $font-default);
            color: cl(white);
            margin: rem(10) 0;
        }
        
        .info {
            @include typography(100, 16, $font-default);
            color: cl(white);
            line-height: rem(30);
            
            
            @include respond-to (lg) {
                font-size: rem(20);
            }

            ul {
                
                @include respond-to (md) {
                    list-style-type: disc;
                }
            }
        }
    }
}


