@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600&display=swap');

// SECTION BANNER
.#{$prefix}-banner-empreendimento {
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  width: 100%;
  position: relative;
  flex-direction: column;
  
  hr{
    width: 88px;
    height: 5px;
    background: #e8652f;
    margin-bottom: 26px;
    border: none;
  }
  
  @include respond-to(sm) {
    height: rem(720);
  }
  
  @include respond-to(md) {
    height: rem(820);
  }
  
  &:before {
    @include size(100%, 100%);
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: rem(0);
    z-index: 1;
  }

  @include e("destaque") {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    
    @include respond-to(sm) {
      flex-basis: 55%;
      display: flex;
     
    }

  }

  @include e("barra") {
    display: block;
    position: relative;
    background: rgba(0,0,0,.6) $i;
    padding: rem(15) rem(0) rem(0);
    z-index: 9;
    
    @include respond-to(sm) {
      position: relative;
      padding: rem(15) rem(0);
      z-index: 1;
      width: 100%;
      margin-top: rem(50);
    }
    
    @include respond-to(md) {
      margin-top: rem(30);
    }

    .detalhes {
      display: flex;
      list-style-type: none;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;    
    
      @include respond-to(sm) {
        justify-content: space-between;
      }

      .toptitle {
        @include typography(700, 14, $font-default);
        color: cl(titles, orange);

        @include respond-to(sm) {
          font-size: rem(16);
          margin-top: rem(5);
        }
        
        @include respond-to(lg) {
          font-size: rem(25);
        }
      }

      .title {
        font-family: 'Darker Grotesque', sans-serif;
        color: cl(titles, white);
        margin-left: rem(10);
        font-weight: 400 !important;

        @include respond-to(sm) {
          font-size: rem(16);
        }
        
        @include respond-to(md) {}
      }

      .item {
        margin-bottom: rem(10);
        text-align: center;
        flex-basis: 50%;
        position: relative;
        
    
        
        @include respond-to(sm) {
          flex-basis: inherit;
          margin-bottom: rem(0);
        }
      }

      .item-icone {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        
        @include respond-to(sm) {
          justify-content: center;
        }
      }
    }
  }


  @include e("content") {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    position: relative;
    z-index: 9;
    
    @include respond-to(sm) {
      flex-direction: row;
      align-items: center;
    }
  }

  @include e("info") {
    //margin-bottom: rem(60);
    
    @include respond-to(sm) {
      //margin-bottom: rem(0);
    }

    @include respond-to(md) {
      flex-basis: 60%;
    }

    .local {
      @include typography(200, 14, $font-default);
      color: cl(titles, white);
      text-transform: uppercase;
      margin: rem(0);

      @include respond-to(sm) {
        font-size: rem(20);
      }
    }

    .title {
      @include typography(400, 30, $font-default);
      color: cl(titles, white);
      margin: rem(6) rem(0);
      
      @include respond-to(sm) {
        margin: rem(15) rem(0);
        font-size: rem(43);
      }
    }

    .descricao {
      
      @include typography(100, 16, $font-default);
      display: block;
      color: cl(titles, white);
      line-height: rem(25);
      margin-bottom: rem(15);
      
      @include respond-to(sm) {
        font-size: rem(21);
      }
      
      @include respond-to(md) {
        display: block;
      }
    }

    .btns {
      width: 100%;
      float: left;
      display: flex;
      flex-direction: column;
      
      @include respond-to(sm) {
        flex-direction: inherit;
      }

      .mq-btn--tour {
        display: none;
        
        @include respond-to(sm) {
          display: flex;
        }
      }

      @include e('popup') {
        width: 200px;
        height: 50px;
        float: left;
        
        @include respond-to(sm) {
          margin-left: 15px;
        }

        @include respond-to(md) {
          display: none;
        }
      }
    }
  }
  
  @include e("form") {
    display: none;
    margin-bottom: 70px;
    
    @include respond-to(md) {
      display: block;
      flex-basis: 37%;
    }

    @include respond-to(lg) {
      flex-basis: 33%;
    }
   
  }
}

// FORMULARIO DO BANNER
.#{$prefix}-emp-form {
  background: #41413eb8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(30) rem(20);
  height: auto;
  border-radius: 10px;
  width: 100%;

  @include e('top-title') {
    @include typography(800, 18, $font-default);
    color: cl(titles, white);
    font-size: 21px;
  }

  @include e('title') {
    @include typography(400, 16, $font-default);
    color: cl(titles, white);
    max-width: 90%;
    text-align: center;
    margin-top: rem(2);
    margin-bottom: rem(0);
    font-size: 21px;

    .mq-emp-form__text{
      color: #FF5722;
    }
  }
}

// FORMULARIO DO BANNER NO MOBILE
.#{$prefix}-popup-emp {
  text-align: center;

  @include e('top-title') {
    @include typography(800, 18, $font-default);
    color: #FF5722;

    @include respond-to(md) {
      font-size: rem(25);
    }
    
    @include respond-to(lg) {
      font-size: rem(30);
    }

    @include m('cond') {
      color: #FF5722;
      margin: 25px 0 10px;
      font-size: rem(16);
      line-height: 1;

      @include respond-to(sm) {
        margin: 30px 7px 15px;
        font-size: rem(21);
      }
    }
  }

  @include e('title') {
    @include typography(400, 16, $font-default);
    color: cl(titles, black);
  }

  .form-group {
    position: relative;

    .icone {
      position: absolute;
      top: rem(36);
      font-size: rem(20);
      left: rem(20);
      color: #ff5722;
    }

    input {
      background: #f5f5f5;
      border: rem(1) solid #ccc;
      border-radius: rem(30);
      font-size: rem(18);
      height: rem(55);
      padding: rem(16) rem(12) rem(12) rem(46);
      width: 100%;
    }

    input[type="radio"] {
      height: rem(20);
    }
    
    @include m('radios-mobile') {
      margin: rem(15);

      .title-tipo {
        @include typography(400, 14, $font-default);
        color: cl(titles, black);
        margin-bottom: rem(12);
        text-align: left;
      }
      .opcoes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .contactar {
          @include typography(400, 14, $font-default);
          color: black;

          @include respond-to(sm) {
            font-size: rem(16);
          }
        }

      }
    }

    @include m("submit") {
      display: flex;
      justify-content: flex-end;
      margin-top: rem(15);

      button {
        @include typography(600, 16, $font-default);
        border-radius: rem(30);
        background: #6ccf40;
        border: 0;
        color: cl(white);
        cursor: pointer;
        display: flex;
        height: rem(55);
        justify-content: center;
        padding: rem(19);
        transition: all 0.6s;
        text-transform: uppercase;
        width: 100%;

        &:hover {
          background: green;
        }

        i {
          margin-left: rem(15);
        }
      }
    }
  }

}


// form do banner 
.wpcf7 {
  //margin-top: rem(13);
  padding: 15px;

  .form-group {
    position: relative;

    .icone {
      position: absolute;
      top: rem(36);
      font-size: rem(20);
      left: 0.25rem;
      color: #fff;
    }

    input {
      background: none;
      border:none;
      border-bottom: rem(1) solid #5b5b5b;
      color: #cacaca;
      // border-radius: rem(30);
      font-size: rem(20);
      height: rem(55);
      padding: rem(16) rem(12) rem(12) rem(46);
      width: 100%;

      &:hover{
        border-bottom: rem(1) solid #e76531;
        color: #e76531;
      }
    }

    &:hover{
      .icone {
        color: #e76531;
      }
      input{
        &::placeholder{
          color: #e76531;
        }
      }
    }
    .texto{
      a{
        text-decoration: none !important;
      }
    }

    input[type="checkbox"]{
      background: none;
    }

    input[type="radio"] {
      height: rem(20);
      
      @include respond-to(md) {
        height: rem(18);
      }
    }

    
    @include m('radios') {
      margin: rem(15);

      .title-tipo {
        @include typography(400, 14, $font-default);
        color: cl(titles, white);
        margin-bottom: rem(12);
      }
      .opcoes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .contactar {
          @include typography(400, 16, $font-default);
          color: white;
        }
      }
    }

    @include m("submit") {
      display: flex;
      justify-content: flex-end;
      margin-top: rem(15);

      button {
        @include typography(400, 16, $font-default);
        border-radius: rem(30);
        background: none;
        border: 0;
        border:2px solid #a76531;
        color: cl(white);
        cursor: pointer;
        display: flex;
        height: rem(55);
        justify-content: center;
        padding: rem(19);
        transition: all 0.6s;
        text-transform: uppercase;
        width: 100%;

        &:hover {
          background: #e76531;
        }

        i {
          margin-left: rem(15);
        }
      }
    }
  }
}

// MENU ABAIXO DO BANNER
.#{$prefix}-emp-overview {
  display: none;

  @include respond-to(sm) {
    display: block;
    position: relative;
    padding: 15px 0;
    border-bottom: 2px solid #d8d8d8;
    display: flex;
    align-items: center;
    height: 80px;
  }
}

// DIVISOR DO MENU
.divisor {
  display: none;

  @include respond-to(sm) {
    width: rem(1);
    height: rem(24);
    display: block;
    // border: 0.3px solid rgba(251, 248, 248, 0.9);
  }
  
  @include m('sobre') {
    height: rem(45);
    // border: 0.3px solid gray;
  }

  @include m('gray') {
    height: rem(24);
    // border: 0.3px solid gray;
  }
}

// MENU BRANCO ABAIXO DO BANNER
.#{$prefix}-emp-options {
  border-bottom: rem(1) solid #ececec;
  margin-bottom: rem(90);
  padding-bottom: rem(60);

  @include e("nav") {
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-evenly;

      .item {
        .link {
          @include typography(500, 13, $font-default);
          color: cl(titles, gray);
          transition: all 500ms ease-in-out;
          
          @include respond-to(sm) {
            font-size: rem(16);
          }
          
          
          @include respond-to(lg) {
            font-size: rem(20);
          }

          &:hover {
            color: cl(titles, orange);
          }
        }
      }
    }
  }

}


.#{$prefix}-emp-informacao {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
 
  hr{
    width: 90px;
    border: none;
    height: 3px;
    background:#e86531;
    margin-bottom: 25px;
  }

  @include respond-to(md){
    align-items: center;
    flex-direction: row;
  } 

  @include e("txt") {
    flex-basis: 60%;
    margin-top:125px;
    

    @include respond-to(sm) {
      margin-top: 15px;
    }
    
    @include respond-to(md) {
      margin-top: 0;
    }

    .preco {
      margin-top: rem(30);
      
      .apartir {
        @include typography(500, 16, $font-default);
        color: cl(titles, gray);
      }

      .valor {
        @include typography(700, 25, $font-default);
        color: cl(titles, gray);
        //margin-bottom: rem(15);
        
        @include respond-to(sm){
          font-size: rem(30);
        }
        
        @include respond-to(md){
          font-size: rem(40);
        } 
      }
      
      .juridico {
        @include typography(400, 16, $font-default);
        color: cl(titles, gray);
        line-height: 25px $i;
      }
    }

    .title {
      font-family: 'Darker Grotesque', sans-serif;
      color: #616161;
      font-weight: 400 !important;

      @include respond-to(sm){
        font-size: rem(32);
      }

      @include respond-to(md){
        font-size: rem(44);
      } 
    }

    .thumb {
      height: rem(100);
      width: rem(170);
      position: relative;
      background: #ccc;
      margin-right: 3%;
    }

    .content {
      @include typography(100, 16, $font-default);
      color: #4c4c4c;
      margin: rem(15) rem(0);
      line-height: rem(30);

      @include respond-to(sm) {
        font-size: rem(20);
      }

      @include respond-to(md) {
        font-size: rem(22);
      }
    }

    .detalhes {
      margin: 30px 0;
      display: flex;
      list-style-type: none;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;  
      flex-direction: column;  
      
      @include respond-to(sm) {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;  
      }
      
      @include respond-to(md) {
        //margin: 15px 0;
      }

      .item {
        padding-bottom: rem(20);
        margin-bottom: rem(20);
        border-bottom: 1px solid #ccc;
        text-align: left;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include respond-to(sm) {
          flex-basis: 50%;
          width: inherit;
          padding-bottom: rem(0);
          margin-bottom: rem(0);
          flex-basis: inherit;
          border: 0;
        }
        
        @include respond-to(md) {
        }
      }

      .toptitle {
        @include typography(700, 18, $font-default);
        color: #e77447;
        font-weight: 500 !important;

        @include respond-to(sm) {
          font-size: rem(18);
          margin-top: rem(5);
        }
        
        @include respond-to(lg) {
          font-size: rem(22);
        }
      }

      .title {
        @include typography(600, 17, $font-default);
        color: #9a9a9a;
        margin-left: rem(10);
        font-weight: 600 !important;

        @include respond-to(sm) {
          font-size: rem(20);
        }
        
        @include respond-to(md) {}
      }

      .item-icone {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: cl(titles, gray);
        font-size: 18px;
        margin-bottom: 7px;
        
        @include respond-to(sm) {
          font-size: inherit;
          margin-bottom: 0;
        }
      }
    }

    .btns-options {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      
      @include respond-to(sm) {
        flex-direction: row;
      }
      
      @include respond-to(md){
        justify-content: flex-start;
        flex-direction: row;
      }
      
      @include respond-to(lg){
        max-width: 90%;
      }

      @include e('btn') {
        @extend %transitionAll;
        @include typography(400, 14, $font-default);
        background: #ff5722;
        color: cl(titles, white);
        padding: 13px 0;
        border-radius: 30px;
        text-align: center;
        margin-bottom: rem(15);
        
        @include respond-to(sm) {
          margin-bottom: rem(0);
          flex-basis: 32%;
          margin-right: rem(15);
        }
        
        @include respond-to(lg) {
          flex-basis: 30%;
        }

        &:hover {
          background: orangered;
        }
        
        // @include m('cond') {
        //   background: gray;
        // }
      }
    }

  }
 
  @include e("img") {
    position: relative;
    margin-bottom: rem(15);
    width: 100%;
    height: rem(357);
    
    @include respond-to(sm) {
      height: rem(480);
      width: 60%;
    }
    
    @include respond-to(md) {
      margin-bottom: rem(0);
      height: rem(394);
      flex-basis: 33%;  
    }
    
    @include respond-to(lg) {
      height: rem(483);
    }
    
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .mq-emp-informacao__img{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 23px;
    margin-top: 8rem;

    @include respond-to(md){
      margin-top: 0px;
    }

    .apartir{
      color:#545454;
    }
    .valor{
      font-size: 50px;
      color: #e9825a;
      font-weight: 400 !important;
      margin-bottom: 15px;
    }
    .juridico{
      color:#545454;
      margin-bottom: 30px;
      font-weight: 400;
    }
    .btns-options{
      width: 100%;
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap:5px;

      @include respond-to(md){
        grid-template-columns: 1fr 1fr;
      }

      a{
        border:2px solid #e76531;
        padding: 13px;
        font-size: 19px;
        border-radius: 30px;
        text-decoration: none;
        color:#595959;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include respond-to(md){
          width: 200px;
          font-size: 17px;
          padding: 13px;
        }

        &:hover{
          color:#fff;
          background: #e76531;
        }
      }
    }
  }

}


// SECTION VÍDEO
.#{$prefix}-emp-video {
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  
  @include respond-to(md){
    justify-content: flex-start;
    flex-direction: row;
  }
  
  @include respond-to(lg){
    align-items: center;
  }

  .thumb {
    position: relative;
    display: flex;
    height: rem(250);
    z-index: 9;
    
    @include respond-to(sm) {
      height: rem(596);
    }

    @include respond-to(md) {
      flex-basis: 50%;
      height: rem(405);
    }
    
    @include respond-to(lg) {
      height: rem(550);
    }

    .play {
      width: 100%;
      display: flex;

      &:before {
        @include size(100%, 100%);
        background: url(../images/play.png) no-repeat;
        background-position: center;
        background-size: 30%;
        content: "";
        position: absolute;
        top: rem(0);
        z-index: 1;

        @include respond-to(sm) {
          background-size: 15%;
        }
        
        @include respond-to(md) {
          background-size: 20%;
        }
      }

      &:after {
        content: "";
        background: rgba(0, 0, 0, 0.62);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include respond-to(md){
        position: absolute;
      }
    }
  }

  @include e("txt") {
    margin-bottom: rem(15);
    
    @include respond-to(sm){
      margin-bottom: rem(30);
    }

    @include respond-to(md){
      margin-left: rem(30);
      flex-basis: 42%;
    }
    
    @include respond-to(lg){
      max-width: 550px;
    }

    .title {
      @include typography(400, 25, $font-default);
      color: cl(titles, gray);
      margin: rem(0) rem(0) rem(15) rem(0);
      line-height: 1;
      
      @include respond-to(sm) {
        font-size: rem(36);
      }
      
      @include respond-to(md) {
        margin: rem(0) rem(0) rem(30) rem(0);
        font-size: rem(36);
      }
    }

    .content {
      @include typography(100, 16, $font-default);
      color: cl(titles, gray);
      line-height: rem(30);
      margin-bottom: rem(15);

      @include respond-to(sm) {
        font-size: rem(18);
      }

      @include respond-to(md) {
        font-size: rem(20);
      }
    }
    
    .btn-video {
      display: none;

      @include respond-to(sm) {
        display: block;
        text-align: center;
      }
    }
  }
}


// SECTION INFO
.#{$prefix}-emp-info {
  
  .title {
    @include typography(800, 30, $font-default);
    color: cl(titles, white);
  }

  .vantagens {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: rem(30);
      flex-direction: column;
      
      @include respond-to(sm){
        margin-top: rem(60);
        flex-direction: row;
      }

      li {
        @include typography(400, 18, $font-default);
        flex-basis: 33% $i;
        margin-bottom: rem(15);
        color: cl(titles, white);
        position: relative;

        @include respond-to(sm) {
          font-size: rem(20);
        }

        &:before {
          content: "";
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          color: cl(main, white);
          font-size: rem(11);
          margin-right: rem(6);
          height: rem(40);
          float: left;
          line-height: rem(25);
        }
      }
    }
  }
}


// SECTION GALERIA
.galeria-title {
  @include typography(600, 20, $font-default);
  color: cl(titles, white);
  text-align: center;
  margin: 15px 0;
  
  span {
    display: block;
    
    @include respond-to(sm) {
      display: inline-block;
    }
  }

  @include respond-to(sm) {
    margin: 30px 0;
    font-size: rem(30);
  }
}

.#{$prefix}-emp-galeria {
  padding-bottom: 15px;
  
  @include respond-to(sm) {
    padding-bottom: 0;
  }

  @include e('figure') {
    position: relative;
    height: rem(200);
    
    @include respond-to(sm) {
      height: rem(500);
    }
    
    @include respond-to(md) {
      height: rem(360);
    }
    
    @include respond-to(lg) {
      height: rem(500);
    }

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      
      
      @include respond-to(md) {
        z-index: 9;
        background: rgba(0, 0, 0, 0.85);
      }
    
    }

    .link-img {
      position: relative;
      z-index: 99999;
    }

    .legend {
      display: none;
    }
  }
}


// SECTION GALERIA - OWL

.contador-galeria {
  font-size: rem(0) $i;
}

#emp-galeria {

  img {
    height: 100%;
    object-fit: cover;
  }
    
  .owl-item.active.center {
    opacity: 1;

    .mq-emp-galeria__figure {

      &:before {
        content: '';
        background: transparent;
        z-index: -1;
      }

     
      .legend {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        padding: rem(30);
        background: rgba(0, 0, 0, 0.7);
        display: none;

        @include respond-to(sm){
          //display: block;
        }

        .desc {
          @include typography(400, 20, $font-default);
          color: cl(titles, white);
            
        }
      }
    }
  }
    
  .owl-item {
    transition: all 0.6s;
  }
    
  .owl-dots {
    bottom: rem(57);
    position: relative;
        
    .owl-dot.active {
      background: cl(white);
    } 
         
    .owl-dot {
      width: rem(14);
      height: rem(13);
      border-radius: 50%;
      background-color: cl(white);
      margin: 0 rem(10);
      border: rem(1) solid cl(white);
      border-radius: rem(30);
      background: transparent;
    }
  } 

  .owl-nav {

    .owl-prev,
    .owl-next {
      width: rem(30);
      height: rem(30);
      background: rgba(255, 255, 255, 0.64);
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-size: rem(0);

      &:hover {
        background: cl(white);
      }
    }

    .owl-prev {
      
      @include respond-to(lg) {
        left: 20% $i;
      }

      &:before {
        content: "";
        color: cl(main, black);
        font-size: rem(12);
      }
    }

    .owl-next {
    
      @include respond-to(lg) {
        right: 20% $i;
      }

      &:before {
        content: "";
        color: cl(main, black);
        font-size: rem(12);
      }
    }
  }
}


// SECTION PLANTAS
.#{$prefix}-plantas {

  @include e('item') {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 4rem;
    
    @include respond-to(md) {
      flex-direction: row;
    }
  }

  @include e('img-destaque') {
    flex-basis: 70%;
    height: rem(240);
    margin-top: rem(30);
    
    @include respond-to(sm) {
      height: rem(430);
    }
    
    @include respond-to(md) {
      flex-basis: 60%;
      margin-top: rem(0);
    }
    
    @include respond-to(lg) {
      flex-basis: 50%;
    }

    .link {
      position: relative;
      z-index: 9999;
    }

    .thumb {
      width: 100%;
      object-fit: contain;
      height: 100%;
    }
  }
  
  @include e('options') {
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
      background:none !important;
      color: #525252;
      border: 2px solid #626261;
      border-radius: 25px;

      &:hover{
        background:none !important;
        border: 2px solid #e97140;
        color: #525252;
      }
    }
    
    @include respond-to(sm) {
      flex-direction: row;
    }
  }

  @include e('donwload') {
    margin-top: rem(15);
    
    @include respond-to(sm) {
      margin-left: rem(15);
      margin-top: rem(0);
    }
  }

  @include e('legend') {
    flex-basis: 30%;
    
    @include respond-to(md) {
      flex-basis: 45%;
    }
    
    .title {
      @include typography(500, 25, $font-default);
      color: cl(titles, gray);
      margin: rem(15) rem(0);
      line-height: rem(30);
      font-weight: 300 !important;
      
      @include respond-to(sm) {
        font-size: rem(42);
      }
      
      @include respond-to(md) {
        margin: rem(30) rem(0) rem(15);
      }
    }

    .desc {
      @include typography(600, 18, $font-default);
      color:#8e8e8e;
      font-weight: 600 !important;
      margin-bottom: rem(30);
      margin-top: rem(30);

      @include respond-to(sm) {
        font-size: rem(18);
      }
    
    }
  }
}

#owl-plantas {

  .owl-nav {

    .owl-prev,
    .owl-next {
      width: rem(30);
      height: rem(30);
      background: #ccc;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-size: rem(0);

      &:hover {
        background: cl(orange);
      }
    }

    .owl-prev {
      left: 0% $i;
      top: rem(90);

      &:before {
        content: "";
        color: cl(main, black);
        font-size: rem(12);
      }

      &:hover {
        &:before {
          content: "";
          color: cl(main, white);
        }
      }
    }

    .owl-next {
      left: 4% $i;
      top: rem(90);

      &:before {
        content: "";
        color: cl(main, black);
        font-size: rem(12);
      }

      &:hover {
        &:before {
          content: "";
          color: cl(main,white);
        }
      }
    }
  }

}


// SECTION FICHA TÉCNICA
.#{$prefix}-emp-ficha {

  .title {
    @include typography(200, 40, $font-default);
    color: cl(titles, orange);
    font-weight: 200 !important;
    margin-top:25px;
  }

  .ficha {
    margin-top: rem(30);
    margin-bottom: rem(30);

    ul {
      // display: flex;
      // flex-wrap: wrap;
      // justify-content: flex-start;
      // flex-direction: column;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;

      
      @include respond-to(sm){
        // flex-direction: row;
        // justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;
      }

      li {
        @include typography(400, 10, $font-default);
        flex-basis: 24%;
        font-size: 20px !important;
        margin-bottom: 15px;
        color: cl(titles, gray);
        position: relative;
        
        &:nth-child(4n) {
          margin-right: 0%;
        }
        
        @include respond-to(md){
          flex-basis: 49%;
          font-size: rem(18);
        }

        strong {
          display: block;
          font-weight: 600 !important;
          margin-bottom: rem(10);
        }
      }
    }
  }
}

.mq-section--localizacao{
  background:#363636 !important;
  height: 1154 !important;

  @include respond-to(sm){
    height: 700px !important;
  }

}

.mq-section--interesse-form::after{
  background:#363636 !important;
}

.mq-section--plantas{
  .owl-dots{
    justify-content: center;
    position: relative;
    display: none !important;
    
    @include respond-to(md){
      margin-top:-644px;
      display: flex !important;
    }

    .active{
      background: #e47035 !important;
      border:2px solid #fff;
      box-shadow: 1px 1px 4px #484848;
    }

    .owl-dot{
      background: #aaa7a7;
      margin: 0 33px;
      transition: 0.1s;

      &:hover{
        background: #e47035;
        border:2px solid #fff;
        box-shadow: 1px 1px 4px #484848;
      }
    }
  }
}

.owl-item-options{
  margin-top: 36px;
  position: relative;
  margin: 31px;
  margin-left: -21px;
  width: 70px;
  display: block;
  @include typography(600, 20, $font-default);
  color:#b6b6b6;
}


// SECTION LOCALIZAÇÃO
.#{$prefix}-header-localizacao {
  display: flex;
  margin-bottom: rem(60);
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-top:4rem;
  width: 100%;

  .mp-header-localizacao__desc{
    color:#989898;
    font-size: 20px;
  }
  
  @include respond-to(md) {
    margin-bottom: rem(30);
    width: 40%;
  }

  @include e('title') {
    @include typography(600, 24, $font-default);
    font-weight: 200 !important;
    text-align: left;
    color: #b6b6b6;
    line-height: 1;
    margin-bottom: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
    strong{
      color:#e47035;
      font-weight: 200 !important;
    }

    @include respond-to(sm) {
      font-size: rem(32);
    }
    
    @include respond-to(md) {
      font-size: rem(42);
    }
  }
  
  @include e('end') {
    @include typography(100, 20, $font-default);
    color: cl(white);
    line-height: 1;
    margin-bottom: 30px;
  }

  @include e('options') {
    display: flex;
    margin-top: rem(15);

    img{
      margin-left: 20px;
      height: 15px;
    }

    .link {
      @include typography(500, 14, $font-default);
      color: #fff;
      width: rem(160);
      height: rem(40);
      background: none;
      margin: rem(5);
      border-radius: rem(25);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.6s;
      border:1px solid #fff;
      padding:5px;
  
      &:hover {
        // background: linear-gradient(90deg,#ff5200,#ff5200);
        border:1px solid #ff5200;
      }
    }
  }
  
  
}

.mp-section-localizacao__flex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;

  @include respond-to(md){
    flex-direction: row;
  }
}

.#{$prefix}-wrap-mapa-page{
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: -30px;
  z-index: 9;
}

.#{$prefix}-wrap-mapa{
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: -30px;
  z-index: 9;

  @include respond-to(md){
    width: 500px;
  }
}

#map {
  width: 100%;
  height: rem(280);
  position: relative;
  display: block;
  
  @include respond-to(sm) {
    height: rem(570);
  }
  
  @include respond-to(lg) {
    height: rem(600);
  }
}


// SECTION TENHHO INTERESSE

.mq-section--interesse-form{
  background:#2c2c2c !important;
}

.#{$prefix}-emp-form-interesse {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Darker Grotesque', sans-serif;


  @include respond-to(md) {
    flex-direction: row;
    margin: 60px 0;
  }

  @include e('header') {
    flex-basis: 30%;

    .toptitle {
      font-family: 'Darker Grotesque', sans-serif;
      color: #aaaaaa;
      text-transform: uppercase;
      margin-bottom: rem(15);
      font-weight: 200 !important;
      font-size: 34px !important;

      strong{
        color: #d46031;
        font-weight: 200 !important;

      }

      @include respond-to(sm) {
        font-size: rem(22);
      }
    }

    .title {
      font-family: 'Darker Grotesque', sans-serif;
      color: cl(white);
      font-weight: 400 !important;
      

      @include respond-to(sm) {
        font-size: rem(20);
      }
      
      @include respond-to(md) {
        font-size: rem(20);
      }
      
      @include respond-to(lg) {
        font-size: 18px;      }
    }
  }
  
  @include e('contato') {
    flex-basis: 50%;
    margin-top: rem(30);
    height: rem(260);
    
    @include respond-to(md) {
      margin-top: rem(0);
      height: auto;
    }

    .wpcf7-form {

      .wpcf7-validation-errors {
        margin-top: rem(15);
      }

      .form-group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include m('col2') {
          flex-direction: column;
          
          @include respond-to(sm) {
            flex-direction: row;
          }
        }

        @include m('submit') {
          margin-top: 0;
        }

        .texto{
          color:#969696;
          a{
            color:#969696;

          }
        }

        input, textarea {
          @include typography(500, 18, $font-default);
          font-weight: 200 !important;
          border: 0;
          border-bottom: rem(1) solid #969696;
          background: transparent;
          color: #969696;
          height: rem(50);
          padding: 2px;
          width: 100%;
          margin-bottom: rem(15);
        }

        @include e('field') {
          width: 100%;
          
          @include respond-to(sm) {
            width: 49%;
          }

          textarea {
            width: 100%;
            resize: none;
          }
        }

        .btn {
          @include typography(600, 16, $font-default);
          align-items: center;
          background: none;
          border:1px solid #d46031;
          border-radius: rem(30);
          color: cl(white);
          cursor: pointer;
          display: flex;
          height: rem(50);
          justify-content: center;
          max-width: 100%;
          transition: all 0.6s;
          padding: rem(15);
          font-weight: 200 !important;
          
          @include respond-to(sm) {
            max-width: 30%;
          }
          
          &:hover {
            transition: all 0.6s;
            background: linear-gradient(to right, #ff5200, #ff5200);
          }

          i {
            font-size: rem(14);
            margin-left: rem(6);
          }
        }

      }
    }
  }
}

.mq-section--emp-informacoes{
  background: #474745 !important;
  color: #d8d8d8;
  font-family: 'Darker Grotesque', sans-serif;

  .data-w-tab__current{
    display: flex !important;
  }

  .title, .mq-emp-info__list, hr{
    text-align: center;
    font-weight: 200 !important;
  }

  .title{
    font-size: 40px;
    margin-top: 25px;
  }

  hr{
    width: 50px;
    margin: auto;
    background: #e76530;
    border:1px solid #e76530;
    margin-top: 30px;
  }

  .mq-emp-info__list{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    margin: auto;
    flex-wrap: wrap;

    @include respond-to(sm){
      width: 100%;
      flex-direction: column;
    }

    .mq-emp-info__circle{
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    .mq-emp-info__line{
      height: 1px;
      background: #848484;
      width: 555px;
      position: absolute;
      margin-top: 37px;
      z-index: 1;
      display: none !important;

      @include respond-to(sm){
        display: block !important;
      }
    }

    .current{
      color:#e76530;

      .mq-emp-info__circle{
        background: #e76530;
        border:2px solid #fff;
        z-index: 2;
      }
    }    

    @include respond-to(sm){
      flex-direction: row;
    }

    .mq-emp-info__li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    li{
      margin: 5px;
      font-size: 16px;
      cursor: pointer;
      text-transform: uppercase;

      &:hover{
        color:#e76530;
      }

      @include respond-to(sm){
        margin: 30px;
      }
    }
  }

  .vantagens{
    display: none;
    opacity: 1;
    transition: opacity 300ms ease 0s;

    .vantagens__ul{
      width: 100%;
      display: block;

       @include respond-to(sm){
        display: flex;
      }

    }
    ul li{
      font-weight: 200 !important;
      font-size: 18px;
      color: #e2e2e2;
      font-family: 'Darker Grotesque', sans-serif;
      display: flex;
      justify-content: center;
      text-transform: uppercase;

      &:hover{
        font-weight: 400 !important;
        color: #fff;
      }
    }
  }
}

.mq-form-empreendimento__field .emp_field{
  font-weight: 600 !important;
  height: 55px;
}

.mp-section-plantas-title{
  width: 100%;
  text-align: center !important;
  font-family: 'Darker Grotesque', sans-serif;
  margin-top: 1rem;

  @include respond-to(sm){
    margin-top: 5rem;
  }

  h2{
    color: #838383;
    font-size: 47px;
    font-weight: 200 !important;
    text-align: center !important;
    margin-bottom: 15px;
  }

  hr{
    width: 60px;
    margin: auto;
    border:1px solid #e76530;
  }

  .mp-section-plantas-title__item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:0px;
    margin-bottom:0px;

    @include respond-to(md){
      margin-top:40px;
      margin-bottom:50px;
    }

    li{
      font-size: 25px;
      margin: 20px;

      &:hover{
        color:#e76530;
      }
    }
  }
}

.empreedimentos-section-fotos{
  height: 770px;
  width: 100%;
  float:left;
  margin-bottom: 50px;

  @include respond-to(md){
    height: 850px;
  }

  .owl-nav{
    .owl-prev{
      background: url('../../../marquise-inc/assets/images/preview.png') no-repeat !important;
    }
    .owl-next{
      background: url('../../../marquise-inc/assets/images/next.png') no-repeat !important;
    }
  }

  .empreedimentos-section-fotos__title{
    color:#474745;
    text-align: center;
    font-weight: 200 !important;
    margin-top:50px;
    font-size: 40px;
    margin-bottom: 20px;

    span{
      color:#e76530;
      font-weight: 300 !important;

    }
  }

  hr{
    width: 50px;
    margin: auto;
    border:1px solid #e76530;
  }
}

.empreedimentos-section-fotos--grid{
  display: grid;
  grid-template-rows:auto auto;
  grid-gap: 10px;
  height: 600px;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
  
  @include respond-to(sm){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 660px;
  }

  @include respond-to(md){
    height: 710px;
    padding:50px;
    margin-top: 20px;
  }
}

.empreedimentos-section-fotos__full{
  
  height: 100%;
  object-fit: cover;
  grid-row-start: span 1;
  grid-column-start: span 1;

  @include respond-to(sm){
    grid-row-start: span 2;
    grid-column-start: span 2;
    height: 661px;
  }
}

.empreedimentos-section-fotos__normal{
  width:100%;
  height: 287px;
  object-fit: cover;
  display: flex;
  flex-direction: column;

  @include respond-to(sm){
    height: 350px;
  }
}

.empreedimentos-section-fotos__large{
  height: 287px;
  object-fit: cover;
  grid-column-start: span 1;
  display: flex;
  flex-direction: column;
  
  @include respond-to(sm){
    grid-column-start: span 2;
    height: 300px;
  }
}

.empreedimentos-section-fotos__thumb{
  width:100%;
  height: 287px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  @include respond-to(sm){
    grid-column-start: span 2;
    height: 100%;
  }
}

.empreedimentos-section-fotos__caption{
  position: relative;
  text-align: right;
  color: white;
  font-weight: 600;
  margin-top: -48px;
  margin-right: 14px;
  z-index: 9;
}
.icon-seta-sobre-empreedimento{
  width: 29px !important;
  height: 18px !important;
  margin-left: 10px !important;
  position: relative !important;
}

.form-slider-seta{
  background:url(../images/seta-branca.png) no-repeat;
  width: 40px;
  height: 28px;
  margin-left: 5px;
}

.form-group-seta{
  background:url(../images/seta-branca.png) no-repeat;
  width: 40px;
  height: 28px;
  margin-left: 5px;
}


.mq-plantas__options{
  .mq-btn{
    font-size: 1.2rem !important;
    font-weight: 600;
  }
}